{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}

<section class="container" id="content">
  <div class="row"> 
  
  
    <article class="twelvecol last">
        <h1 class="underline">{title}</h1>
        
   {/exp:channel:entries} 

{exp:zeebra interval="3"}    
         {exp:channel:entries channel="product_parts" dynamic="off" limit="100" paginate="bottom"}

				<article class="fourcol news {zeebra}">
                              
				<a href="/parts/view/{url_title}">
				
				  {exp:channel_images:images field="part_image" entry_id="{entry_id}" limit="1"}

                                   {exp:ce_img:single src="{image:url}" filename="{url_title}" height="240" width="300" alt="{image:title}" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes"}

                                  {/exp:channel_images:images}    

				</a>

				<div class="inner">

				<h5><a href="/parts/view/{url_title}">{title}</a></h5>
                                  
                                <p>{exp:char_limit total="120"}{exp:html_strip}{part_desc}{/exp:html_strip}{/exp:char_limit}</p>

				</div>
                             
                          	</article>
                               
                         
        {/exp:channel:entries}
{/exp:zeebra}
        
     </article>   
        
</div>
        </section>



{embed='embeds/.global.foot'}