{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}

<section class="container" id="content">
  <div class="row"> 
  
  
    <article class="twelvecol last">
        <h1 class="underline">{title}</h1>
	{exp:channel_images:images field="part_image" entry_id="{entry_id}" limit="1"}

           {exp:ce_img:single src="{image:url}" filename="{url_title}" height="240" width="300" alt="{image:title}" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" style="float:right;"}

        {/exp:channel_images:images} 
	<p><strong>Part Number:</strong> {part_number}</p>
	{part_desc}
	   
	<h3>This part fits the following products</h3>
	<ul>
	{related_entries id="part_products"}
                                       
                 <li><a href="{page_url}">{title}</a></li>                   
        
        {/related_entries}
	</ul>
        
   {/exp:channel:entries}     

        
     </article>   
        
</div>
        </section>



{embed='embeds/.global.foot'}