{exp:channel:entries limit="1"}
{embed='embeds/.global.head' title="{last_segment_category_name}" description="{last_segment_category_name} loading systems from Joloda Hydraroll." entry_id="{entry_id}"}
<section class="container" id="content">
<div class="row">
	<div class="twelvecol">
        <h1 class="underline">{last_segment_category_name}</h1>
        <p>{last_segment_category_description}</p>
       {/exp:channel:entries}
       </div>
       
</div>
        <div class="row">
        
        <nav class="threecol">
        <div class="panel">
        <h4>By industry</h4>
        
        {embed='embeds/get.categories' channel="products" simple="true" group_id="4" name="product-categories-vehicle" class="category"}
        
         <h4>By vehicle size</h4>
       
        {embed='embeds/get.categories' channel="products" simple="true" group_id="5" name="product-categories-vehicle" class="category"}
        
         <h4>By product</h4>
       
        {embed='embeds/get.categories' channel="products" simple="true" group_id="1" name="product-categories-vehicle" class="category"}
        </div>
	</nav>
        
        
       <article class="ninecol last">{exp:channel:entries limit="1"}  {body}   {/exp:channel:entries}
       
       {exp:zeebra interval="3"}
       {exp:channel:entries channel="products" dynamic="off" orderby="title" sort="asc" category="{last_segment_category_id}" limit="20"}
                               <a href="{page_url}" class="fourcol product {zeebra}">
                               {exp:channel_images:images entry_id="{entry_id}" limit="1"}
                                       {exp:ce_img:single src="{image:url}" filename="{url_title}-210x180-3" unique="none" alt="{title}" title="{title}" width="220" height="180" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image"}
                                        {/exp:channel_images:images}
                                <div class="product-title">{title}</div>
                                <div class="product-desc">{short_description}</div>
                                <!--<p>{exp:char_limit total="50"}{exp:html_strip}{product_body}{/exp:html_strip}{/exp:char_limit}</p>-->
                               </a>
                               
                                
        {/exp:channel:entries}
        {/exp:zeebra}
        
        </article>
       </div>

</div>

</section>
{embed='embeds/.global.foot'}