{exp:channel:entries limit="1"}
{embed='embeds/.global.head' title="{triggers:entries_title}" description="{triggers:entries_title}, loading systems from Joloda Hydraroll." entry_id="{entry_id}"}

{/exp:channel:entries}

{exp:ce_cache:it seconds="86400"}

<section class="container" id="content"> 

        <div class="row">
        
        <nav class="threecol">
        
       
       
        
       
       {if segment_1 == "loading-systems"}
        <div class="panel">
       <h4>Product Categories</h4>
        {embed='embeds/get.categories' channel="products" simple="true" group_id="1" name="product-categories" class="category"}
       </div> 
       {/if}
       
       {if segment_1 == "industries"}
       <div class="panel">
       <h4>Industries</h4>
        {embed='embeds/get.categories' channel="products" simple="true" group_id="4" name="product-categories-industries" class="category"}
       </div>
       
       <a href="/loading-systems/other"><img src="/media/images/custom-solution.png" alt="Custom Solutions" /></a><br /><br />
       {/if}
       
       {if segment_1 == "vehicle"}
       <div class="panel">
         <h4>Vehicle Type</h4>
         {embed='embeds/get.categories' channel="products" simple="true" group_id="5" name="product-categories-vehicle" class="category"}
		</div>
       {/if}
        
     
        
<div class="panel side">
        <h4>Latest News</h4>
        {embed='embeds/get.news' simple="true" limit="1" char_limit="100"}
        </div>
        
        	<a href="/contact" class="other-banner">Quick Contact</a>
        
	</nav>
        
        
       <article class="ninecol last">
       
       {exp:channel:entries limit="1"}
       <h1 class="underline">
       {if triggers:entries_title}
       		{triggers:entries_title}
        {if:else}
        	{title}
        {/if}</h1>
        
       {if triggers:cat_description_1}<p>{triggers:cat_description_1}</p> {if:else} {body} {/if}  
        
        {/exp:channel:entries}

       
       {if triggers:entries_title}
       <!-- Show Products -->
       {exp:zeebra interval="3"}
       {exp:channel:entries channel="products" dynamic="off" orderby="title" sort="asc" limit="20" {triggers:entries}}
                               <a href="{page_url}" class="fourcol product {zeebra}">
                               {exp:channel_images:images entry_id="{entry_id}" limit="1"}
                                       {exp:ce_img:single src="{image:url}" filename="{url_title}-220x180" unique="none" alt="{title}" title="{title}" width="220" height="180" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image"}
                               {/exp:channel_images:images}
                                <div class="product-title">{if short_name}{short_name}{if:else}{title}{/if}</div>
                                <div class="product-desc">{short_description}</div>

                               </a>
                               
                                
        {/exp:channel:entries}
        {/exp:zeebra}
        {if:else}
        
         <!-- Show Categories -->
       	
        {if segment_1 == "loading-systems"}
       <div class="twelvecol last">
        {embed='embeds/get.categories' channel="products" group_id="1" name="product-categories" class="category" parent_only="yes"} 
		</div>
        {/if}
        
   
        
        {if segment_1 == "industries"}
       
        <div class="twelvecol last"><h2>Industry</h2><br />
        {embed='embeds/get.categories' channel="products" group_id="4" name="product-categories-industry" class="category" parent_only="yes"} 
      	</div>
        {/if}
        
        {if segment_1 == "vehicle"}
         <div class="twelvecol last">
         <h2>Vehicle Type</h2><br />
       	{embed='embeds/get.categories' channel="products" group_id="5" name="product-categories-vehicle" class="category" parent_only="yes"} 
		</div>
        {/if}
        
        
        {/if}
   
        </article><!-- end article -->
        
       </div>


</div>

</section>
{embed='embeds/.global.foot'}
{/exp:ce_cache:it}