{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}
<section class="container" id="content">

<div class="row">
	<div class="twelvecol">
        <h1 class="underline">{title} </h1>
    </div>
</div>

<div class="row"> 
    <div class="panel">
    
    
        <div class="eightcol">
                        <a href="#" id="go-prev"></a>
                        <a href="#" id="go-next"></a>
                        <ul id="product-slider">
                       {exp:channel_images:images entry_id="{entry_id}"}
                                        <li> {exp:ce_img:single src="{image:url}" alt="{title}" title="{title}" width="600" height="320" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image product-image"}</li>
                       {/exp:channel_images:images}
                        </ul>
        </div>
    
        <div class="fourcol last">
        <div class="callback">
        <h4>Benefits</h4>
        {product_benefits}
        <!--<h4>Request a call-back</h4>
                <p>Enquire about this product</p>
                    {exp:email:contact_form user_recipients="no" recipients="sales@joloda.com" charset="utf-8"}
        
                <p>
                        <label for="from">Your Email:</label><br />
                        <input type="text" id="from" name="from" size="35" maxlength="35" value="{member_email}" />
                </p>
                <p>
                        <label for="telephone">Telephone:</label><br />
                        <input type="text" id="telephone" name="telephone" size="35" value="" />
                </p>
              
                <p>
                        <input type="hidden" name="Interested in:" value="{title}" />
                        <input type="hidden" name="message" value="{title}" />
                        <input name="submit" type='submit' value='Send' class="button" />
                </p>
        {/exp:email:contact_form}-->
        </div>
        </div>
        <br class="clear" />
    </div>

</div>
    
        {if entry_id == 83}
<div class="row">
        <a href="/agents/vanloda-suppliers"><img src="/media/images/vanloda-banner.png"></a><br><br>
    
</div>
    {/if}

<div class="row">
    <div class="panel logo-panel">
       
        {related_entries id="customers"}
                                       
                 <div class="twocol {url_title} {switch="first||||| last"}"> {exp:ce_img:single src="{logo_image}" filename="{url_title}-logo" alt="{title}" title="{title}" height="45" crop="yes|center,center class="logo"}  </div>                      
        
        {/related_entries}
      <br class="clear" />
 </div>
</div>



<div class="row">
	<div class="panel">

       <div class="twelvecol last">       
   
            
      
                 <ul class="tabs">

                    <li><a href="#">Information</a></li>
                    {if product_technical} <li><a href="#">Technical</a></li>{/if}
                    {if product_model}<li><a href="#">Model</a></li>{/if}
                     {if case_study}<li><a href="#">Case Study</a></li>{/if}
          
                     {if product_files}<li><a href="#">Brochure</a></li>{/if}
                   {if product_videos}  <li><a href="#">Video</a></li>{/if}
                </ul>
             
                
                <div class="ninecol last">
                 <!-- tab "panes" -->
                <div class="panes">
                	<div class="pane"><h2>Information</h2>{product_body}</div>
                	{if product_technical} <div class="pane"><h2>Technical Information</h2>{product_technical}</div>{/if}
                	{if product_model}<div class="pane"><h2>Model</h2>{product_model}</div>{/if}
                    {if case_study}<div class="pane"><h2>Case Study</h2>{case_study}</div>{/if}

                    {if product_files}
                    <div class="pane">
                       <h2>Download Brochure</h2>
                       <br />
                       {exp:ce_cache:escape}
                    {exp:channel_files:files entry_id="{entry_id}"}
                                  <li> <a href="{file:locked_url}" title="{file:title}">{file:title}</a></li>
                                 {/exp:channel_files:files}
                                 {/exp:ce_cache:escape}
                    </div>
                    {/if}
                    
                    {if product_videos} 
                     <div class="pane"> 
                  
              		  {exp:channel_videos:videos entry_id="{entry_id}" embed_width="900"}
       					{video:embed_code}
    				  {/exp:channel_videos:videos}
                	 </div>
                     {/if}     
                                    
                   </div>
                </div>
             


               
            </div>  
         <br class="clear" />             
        </div><!-- //panel -->
         
        </div>
        
        <div class="row">
        
        <div class="twelvecol last">
   


   
        </div>   <!--//Fivecol -->              
        
        <br class="clear" />
        
        <h4>Related products</h4>
        <br />
        <div class="row">
		 {exp:zeebra interval="4" intervalclass="nth-%"}
         {related_entries id="related_products"}
  		 <a href="{page_url}" class="threecol product {zeebra}">
                               {exp:channel_images:images entry_id="{entry_id}" limit="1"}
                                       {exp:ce_img:single src="{image:url}" filename="{url_title}-220x180" unique="none" alt="{title}" title="{title}" width="220" height="180" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image"}
                               {/exp:channel_images:images}
                                <div class="product-title">{if short_name}{short_name}{if:else}{title}{/if}</div>
                                <div class="product-desc">{short_description}</div>

                               </a>
        {/related_entries}   
        {/exp:zeebra}              
        </div>
      
                           
                         
                           
                          
        
{/exp:channel:entries}

</div>
</section>
{embed='embeds/.global.foot'}