
{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}

{exp:ce_cache:it seconds="86400"}
<section class="container" id="content">

<div class="row">



  <div class="ninecol">
    <h1>{title}</h1>
    {exp:channel_images:images field="news_image" entry_id="{entry_id}"}

                  {exp:ce_img:single src="{image:url}" filename="{url_title}"  width="300" alt="{image:title}" crop="yes" class="image align-right"}

 
{/exp:channel_images:images}
       {news_body}
{/exp:channel:entries}

<p>&laquo; <a href="/news">Back to News</a></p>

</div>

<div class="threecol last"> 
      <div class="panel">
      <h4>News Categories</h4>
        {embed='embeds/get.categories' channel="news" simple="true" group_id="2" name="news-categories" class="category" parent_only="yes"}
      </div>
</div>

</section>
{embed='embeds/.global.foot'}

{/exp:ce_cache:it}