{exp:channel:entries limit="1"}
{embed='embeds/.global.head' title="{last_segment_category_name} News" description="{last_segment_category_name} news from Joloda International"}
{/exp:channel:entries}
<section class="container" id="content">

<div class="row">
<div class="threecol"> 
      <ul class="side">
        {embed='embeds/get.categories' channel="news" simple="true" group_id="2" name="news-categories" class="category" parent_only="yes"}
      </ul>
</div>


   <div class="sixcol">
  {exp:channel:entries limit="1" category="{last_segment_category_id}"}
        <h1>{last_segment_category_name}</h1>
        <p>{last_segment_category_description}</p>
{/exp:channel:entries}


	 {exp:channel:entries channel="news" dynamic="off" limit="{embed:limit}" paginate="bottom" category="{last_segment_category_id}"}
                               <article class="article">
                                <h4><a href="{page_url}">{title}</a></h4>
                                <p class="posted-by">Posted by: <strong class="author">{author}</strong> on {entry_date format='%d/%m/%Y'} at {entry_date format='%h:%i %A'}</p>
                                <p>{exp:char_limit total="{embed:char_limit}"}{exp:html_strip}{news_body}{/exp:html_strip}{/exp:char_limit}</p>
                               </article>
                               
                                 {paginate}
                                        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
                                 {/paginate}
        {/exp:channel:entries}
        
        
</div>

 <div class="threecol">..</div>
  
</div>
</section>
{embed='embeds/.global.foot'}