{if segment_2 == "browse"} 

{embed='news/category'}

{if:else}

{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}


{exp:ce_cache:it seconds="86400"}
<section class="container" id="content">

<div class="row">



   <div class="twelvecol last">
        <h1>{title}</h1>
        {body}
{/exp:channel:entries}

{exp:ce_cache:escape}

  {exp:zeebra interval="3"}
	 {exp:channel:entries channel="news" dynamic="off" limit="15" paginate="bottom"}
                               <article class="fourcol news {zeebra}">
                                <a href="{page_url}"> {exp:channel_images:images field="news_image" entry_id="{entry_id}" limit="1"}

                                   {exp:ce_img:single src="{image:url}" filename="{url_title}" height="240" width="300" alt="{image:title}" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes"}

                                  {/exp:channel_images:images}    </a>
                                  <div class="inner">
                                <h5><a href="{page_url}">{exp:char_limit total="40"}{title}{/exp:char_limit}</a></h5>
                                <p>{exp:char_limit total="120"}{exp:html_strip}{news_body}{/exp:html_strip}{/exp:char_limit}</p>
                              </div>
                               </article>
                               
                                 {paginate}
                                        <p class="paginate">Page {current_page} of {total_pages} pages {pagination_links}</p>
                                 {/paginate}
        {/exp:channel:entries}
        {/exp:zeebra}
{/exp:ce_cache:escape}

</div>


</section>
{embed='embeds/.global.foot'}


{/if}

{/exp:ce_cache:it}