{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}
{/exp:channel:entries}

<section class="container" id="content">
<div class="row">

{exp:channel:entries limit="1"}

<h1>{title}</h1>
<div class="sixcol">
<p>
{agent_address}<br>
<strong>{categories style="linear"}{category_name} {/categories}</strong><br>
{if agent_telephone}Tel: {agent_telephone}<br>{/if}
{if agent_fax}Fax: {agent_fax}<br>{/if}
{if agent_website}URL: {agent_website}<br>{/if}
{if agent_email}E-mail: <a href="mailto:{agent_email}">{agent_email}</a>{/if}
</p>
<p>&laquo; <a href="/agents">Back to Agents</a></p>
</div>
<div class="sixcol last">
 {exp:gmap:init id="map" scrollwheel="true"}
         
              

 {agent_location id="map"}
  
  <a href="{page_url}">{title}</a>
  <br>
  {agent_address}
  
 {/agent_location}

 
</div>
{/exp:channel:entries}
</div>


</section>

{embed='embeds/.global.foot'}