

{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}" show_banner="true" title="Hydraroll Truck Loading Providers in {last_segment_category_name}" description="Find truck and container loading systems in {last_segment_category_name} using our agent finder."}
{/exp:channel:entries}

{exp:ce_cache:it seconds="86400"}
<div class="banner">
        <div class="inner">
        
                <div class="section"><br><br>
                        
                {exp:gmap:init id="map" scrollwheel="true"}
         
               {exp:channel:entries channel="agents" dynamic="off" search:google_response="not IS_EMPTY" category="{last_segment_category_id}"}

 {agent_location id="map"}
  
  <a href="{page_url}">{title}</a>
  <br>
  {agent_address}
  
 {/agent_location}

{/exp:channel:entries} 
                
                </div><!-- //section -->
        
        </div><!--//inner -->
</div>


<section class="container" id="content">
<div class="row">
<div class="twelvecol">
        {exp:channel:entries channel="agents" limit="1" category="{segment_category_id}"}
        <h1 class="underline">{last_segment_category_name}</h1>
        <p>{last_segment_category_description}</p>
{/exp:channel:entries}
</div>
</div>

<div class="row">

<article class="threecol"> {embed='embeds/get.categories' simple="true" channel="agents" group_id="3"} </article>

<article class="eightcol">
{exp:channel:entries channel="agents" dynamic="off" orderby="title" sort="asc" category="{last_segment_category_id}"}<p>
<p>
<a href="{page_url}">{title}</a><br>
{agent_address}<br>
<strong>{categories style="linear"}{category_name} {/categories}</strong><br>
{if agent_telephone}Tel: {agent_telephone}<br>{/if}
{if agent_fax}Fax: {agent_fax}<br>{/if}
{if agent_website}URL: {agent_website}<br>{/if}
{if agent_email}E-mail: <a href="mailto:{agent_email}">{agent_email}</a>{/if}

</p>
<hr>
{/exp:channel:entries}
</article>

</div>


</section>
{embed='embeds/.global.foot'}
{/exp:ce_cache:it}