{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}
<section class="container" id="content">
        <h1>{title}</h1>
        {body}</section>
{/exp:channel:entries}


{embed='embeds/.global.foot'}