
<ul>
	<li><a href="{path=user/login}">Login</a></li>
	<li><a href="{path=user/login_ajax}">AJAX Login</a></li>
	<li><a href="{path=user/change_password}">Change password</a></li>
	<li><a href="{path=user/change_login}">Change login</a></li>
	<li><a href="{path=user/profile}">Edit Profile</a></li>
	<li><a href="{path=user/register}">Register</a></li>
	<li><a href="{path=user/forgot_password}">Forgot password</a></li>
</ul>