{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}
<section class="container" id="content">

        <h1>{title}</h1>
        {body}{/exp:channel:entries}
        
        {if logged_in}
        
        <p><strong>You are already registered and logged in.</strong></p>
        
        {if:else}
        
        {exp:zoo_visitor:registration_form error_handling="inline" return="/user/register/success"}
        <fieldset>
         <p> First name:
                        <input id="member_firstname" name="member_firstname" type="text" value="" />
                        {error:member_firstname}</p>
                <p> Last name:
                        <input id="member_lastname" name="member_lastname" type="text" value="" />
                        {error:member_lastname}</p>
                         <p> Company name:
                        <input id="member_company_name" name="member_company_name" type="text" value="" />
                        {error:member_company_name}</p>
                <p> Email*:
                        <input id="email" name="email" type="text" value="" />
                        {error:email}</p>
                <p>Password*:
                        <input id="password" name="password" type="password" value="" />
                        {error:password}</p>
                <p>Confirm password*:
                        <input id="password_confirm" name="password_confirm" type="password" value="" />
                </p>
               
                {if captcha}
                <p>
                <p> {captcha}<input type="text" name="captcha" value="{captcha_word}" size="20" maxlength="20" style="width:140px;" /> 
                </p>
                {/if}
                <p>
                        <input type="submit" value="Register" class="button" />
                </p>
        </fieldset>
        {/exp:zoo_visitor:registration_form}
        
        
        {/if}

</section>
{embed='embeds/.global.foot'}