<!-- Customer Logos -->
<section class="container">
	<div class="row">
    
 		<p>
        {exp:channel:entries channel="customers" dynamic="off" orderby="title" sort="asc" limit="6" search:show_globally="y"}
        
        
                               
             <div class="twocol {switch="first||||| last"}"> {exp:ce_img:single src="{logo_image}" filename="{url_title}-logo" alt="{title}" title="{title}" height="45" crop="yes|center,center class="logo"}  </div>   
             
                        
                                    
        {/exp:channel:entries}
      	</p>
    
    </div>
</section>
<!-- * Footer ************** -->
<footer>
        <div class="container">
        <div class="row">
                <div class="fourcol">Copyright &copy; 2012 Joloda International Ltd<br>
                        51 Speke Road, Garston, Liverpool <br>
                        L19 2NY <br>Company Reg:  2757012
                        
                        </div>
                <div class="fourcol"></div>
                <div class="fourcol align-right last">Site by <a href="http://www.cogocreative.co.uk/" title="COGO Creative, Web Developers Scotland">COGO Web Design</a>. <a href="/sitemap">Sitemap</a></div>
        </div>
        </div>
</footer>

<!-- Scripts --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
<script src="/media/scripts/easing/jquery.easing.js"></script> 
<script src="/media/scripts/carousel/bxslider.js"></script> 
<script src="/media/scripts/tweet/jquery.tweet.js"></script>
<script src="/media/scripts/tools.js"></script>
<script src="/media/scripts/fancybox/jquery.fancybox.pack.js"></script>  
<script src="/media/scripts/script.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37474717-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End scripts -->
</body>
</html>