<ul id="global-user" class="desktop-only">

<!--	{if logged_in}
        <li><a href="{path='user/'}">Hi, {exp:zoo_visitor:details}{visitor:member_firstname}{/exp:zoo_visitor:details}</a></li>
        <li><a href="{path='user/'}">YOUR ACCOUNT</a></li>
        <li><a href="{path='logout'}">SIGN-OUT</a></li>
        {if:else}
        <li><a href="{path='user/'}">Hi, GUEST</a></li>
        <li><a href="{path='user/register/'}">REGISTER</a></li>
        <li><a href="{path='user/login/'}">LOGIN</a></li>
        {/if}-->

<br /><br />
{exp:ce_cache:escape}
{exp:mailinglist:form list="default"}
                        <p>Join our Mailing List</p>
                        <p>
                                <input type="text" name="email" value="{email}" />
                        
                                <input type="submit" value="submit" />
                        </p>
{/exp:mailinglist:form}

</ul>
{/exp:ce_cache:escape}