<ul id="nav">
    <li class="current first" id="nav-home"><a href="/"><span>Home</span></a></li>
    <li id="nav-loading-systems"><a href="/loading-systems"><span>Products</span></a>
    
  	{exp:channel:categories channel="products" category_group="1" id="products-submenu" class="subnav"}
   	 <a href="{path='loading-systems/index'}">{category_name}</a>
	{/exp:channel:categories}

    
    </li>
    <li id="nav-industries"><a href="/industries"><span>Industries</span></a>
    
    
    {exp:channel:categories channel="products" category_group="4" id="industries-submenu" class="subnav"}
   	 <a href="{path='industries/index'}">{category_name}</a>
	{/exp:channel:categories}
    
    </li>
    <li id="nav-vehicle"><a href="/vehicle"><span>Vehicle</span></a>
    
    {exp:channel:categories channel="products" category_group="5" id="industries-submenu" class="subnav"}
   	 <a href="{path='vehicle/index'}">{category_name}</a>
	{/exp:channel:categories}
    
    </li>
<li><a href="{path='parts/index'}">Parts</a></li>
    <li id="nav-support"><a href="/support"><span>Support</span></a></li>
    <li id="nav-about"><a href="/about"><span>About</span></a></li>
    <li id="nav-agents"><a href="/agents"><span>Agents</span></a>
	<ul class="subnav">
	<li><a href="/agents/vanloda-suppliers">Vanloda Suppliers</a></li>
	</ul>
    </li>
    <li id="nav-articles"><a href="/news"><span>News</span></a></li>
    <li class="last" id="nav-contact"><a href="/contact"><span>Contact</span></a></li>
</ul>