<!--
{exp:search:simple_form channel="news|pages|products|offices|agents" id="global-search" no_result_page="search/no_results" result_page="search/index"}
        <fieldset>
                <input type="text" name="keywords" id="keywords" value="" size="18" placeholder="Search...">     
                <button type="submit" value="Go" id="search-button"><span>Submit</span></button>
        </fieldset>
{/exp:search:simple_form}
-->