<header id="mobile-header" class="mobile-only">


				<!-- Mobile Header Bar -->
               <div id="mobile-header-container">
                              
                            <div id="mobile-section">
                            JOLODA
                            <a href="/" id="mobile-logo"><img src="/media/images/mobile-logo.png" alt="Home" width="60px"></a>
                            
                            <div id="mobile-nav"><img src="/media/images/mobile_nav.png" alt="Menu"></div>                        	
                            </div> 
                                               
               </div>
           
           <!-- Fold Out Menu -->
           <div id="nav-links-container">
               
              	<div id="mobile-nav-menu">

                    
                    <!-- Menu -->
                    <ul>
                                    <li class="home"><a href="/">Home</a></li>
                                    <li class="products"><a href="/loading-systems">Loading Systems</a></li>
                                    <li class="industries"><a href="/industries">Industries</a></li>
                                    <li class="vehicle"><a href="/vehicle">Vehicle</a></li>
                                    <li class="support"><a href="/support">Support</a></li>
                                    <li class="about"><a href="/about">About</a></li>
                                    <li class="agents"><a href="/agents">Agents</a></li>
				    <li class="news-articles"><a href="/news">News</a></li>
				    <li class="contact"><a href="/contact">Contact</a></li>
                    </ul>
                    
                    
                </div>  <!-- // Mobile-nav-menu -->
                
                       
           </div><!-- // nav-links-container -->
           
</header>