{exp:zeebra interval="3"}


 {if embed:simple}
 
 
        
    {exp:channel:categories channel="{embed:channel}" category_group="{embed:group_id}" orderby="title" sort="asc" id="{embed:name}" class="{embed:class}" parent_only="{embed:parent_only}" show_empty="no"}
                	
                      <a href="{exp:category_url template="{segment_1}/browse" parent_id="{parent_id}" category_url_title="{category_url_title}" category_id="{category_id}"}" {if last_segment == "{category_url_title}"} style="color:red;" {/if}>{category_name}</a>
               
                
        
	{/exp:channel:categories}  
    
     
             
 {if:else}
        
        
    {exp:channel:categories channel="{embed:channel}" category_group="{embed:group_id}" orderby="title" sort="asc" style="linear" id="{embed:name}" class="{embed:class}" parent_only="{embed:parent_only}" show_empty="no"}
                      	<!-- Category -->
                        <a href="{exp:category_url template="{segment_1}/browse" parent_id="{parent_id}" category_url_title="{category_url_title}" category_id="{category_id}"}" class="fourcol category cat-{zeebra}">
                        <div class="inner"> 
                        {if category_image}
                        {exp:ce_img:single src="{category_image}" filename="{category_url_title}-category" alt="{category_name}" title="{category_name}" width="220" height="180" crop="yes|center,center|0,0" allow_scale_larger="yes" class="category-image"}
                        {if:else}
                        {exp:ce_img:single src="{no_image_url}" filename="{category_url_title}-no-image" alt="{category_name}" title="{category_name}" width="220" height="180" crop="yes|center,center|0,0" allow_scale_larger="yes" class="image category-image"}
                        {/if}
                        <div class="category-title">{category_name}</div>
                        </div>
                        </a>
        				<!-- //Category -->
	{/exp:channel:categories}
    
        
  {/if}


{/exp:zeebra}