<div id="news">
{if embed:simple}

        
        {exp:channel:entries channel="news" dynamic="off" limit="{embed:limit}" disable="pagination|categories"}
                                <h4 class="title"><a href="{page_url}">{title}</a></h4>
                                <p>{exp:char_limit total="{embed:char_limit}"}{exp:html_strip}{news_body}{/exp:html_strip}{/exp:char_limit}</p>
        {/exp:channel:entries}
        

{if:else}

	 {exp:channel:entries channel="news" dynamic="off" limit="{embed:limit}" paginate="bottom"}
                               <article class="article">
                                <h4><a href="{page_url}">{title}</a></h4>
                                <p class="posted-by">Posted by: <strong class="author">{author}</strong> on {entry_date format='%d/%m/%Y'} at {entry_date format='%h:%i %A'}</p>
                                <p>{exp:char_limit total="{embed:char_limit}"}{exp:html_strip}{news_body}{/exp:html_strip}{/exp:char_limit}</p>
                               </article>
                               
                                 {paginate}
                                        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
                                 {/paginate}
        {/exp:channel:entries}

{/if}
</div>