{if embed:simple}

        {exp:channel:entries channel="products" dynamic="off" limit="{embed:limit}" orderby="title" sort="asc"}
                                <h4><a href="{page_url}">{title}</a></h4>
                                <p>{exp:char_limit total="{embed:char_limit}"}{exp:html_strip}{news_body}{/exp:html_strip}{/exp:char_limit}</p>
        {/exp:channel:entries}

{if:else}

	 {exp:channel:entries channel="products" dynamic="off" limit="{embed:limit}" paginate="bottom" orderby="title" sort="asc"}
                               <article class="product">
                                <div class="product-title"><a href="{page_url}">{title}</a></div>
                               <a href="{page_url}"> {exp:ce_img:single src="{product_thumbnail}" filename="{url_title}-thumb" unique="none" alt="{title}" title="{title}" width="250" height="180" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image left"}</a>
                                <p>{exp:char_limit total="{embed:char_limit}"}{exp:html_strip}{product_body}{/exp:html_strip}{/exp:char_limit}</p>
                               </article>
                               
                               {paginate}
                                        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
                               {/paginate}
                               
        {/exp:channel:entries}

{/if}