{# Not Connected #}

<h2 class="first">{{'Google Analytics Account'|t}}</h2>
<p>{{'You need to connect Craft to a Google account in order to get started.'|t}}</p>
<p>{{"Getting errors trying to connect ?"|t}} <a href="{{url('oauth/google')}}">{{"Check Google API key & secret in OAuth settings"|t}}</a>.</p>
<p><a class="btn submit" href="{{ actionUrl('analytics/connect') }}">{{"Connect to Google Analytics"|t}}</a></p>