{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}" show_banner="true"}
{/exp:channel:entries}


{exp:ce_cache:it seconds="86400"}
<div class="container banner desktop_only">
<div class="inner">
        <div class="row">
             
        <div class="home-banner"><a href="/loading-systems/browse/trucks-trailers"><img src="/media/images/home-trucks.jpg" width="149" height="450" alt="Trucks" /></a><a href="/loading-systems/browse/vans"><img src="/media/images/home-vans.jpg" width="118" height="450" alt="Vans" /></a><a href="/loading-systems/browse/shipping-containers"><img src="/media/images/home-trailers.jpg" width="209" height="450" alt="Trailers" /></a><a href="#content" class="banner-more-link"><span>More</span></a></div>
        
        
        </div>
</div>
</div>
<!--<section class="container">Testimonials</section>-->
<section id="content" class="container with-banner">
        <div class="row">

   {exp:channel:entries channel="page" dynamic="off" limit="2" search:show_on_home="not IS_EMPTY"}
             <article class="fourcol">
                       
                                <h2 class="underline home">{title}</h2>
                                <p> {exp:ce_img:single src="{page_image}" filename="{url_title}-photo" alt="{title}" title="{title}" width="600" height="267" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes"}</p>
                                <p>{intro}
                                </p>
                                <a href="{page_url}" class="button">More</a>
                </article>
         {/exp:channel:entries}
   
                
                <article class="fourcol last">
                        <h2 class="underline home">Twitter</h2>
                        <a class="twitter-timeline" href="https://twitter.com/jolodauk" data-widget-id="354878162242531328">Tweets by @jolodauk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </article>
        </div>
     
        <p></p>
  <div class="row">
  {exp:channel:entries limit="1" disable="pagination|categories"}
                <article class="sixcol">
               
                    {body}
               
                </article>
                <article class="sixcol last">
                
                 <!--{if page_video} 
                    
                  
              		  {exp:channel_videos:videos entry_id="{entry_id}" embed_width="100%"}
       					{video:embed_code}
    				  {/exp:channel_videos:videos}
                	
                {/if}   --> 
                
               {if extra_information} 
               		{extra_information}
                {/if}

          </article>
          <article clas="twelvecol last">
          {exp:ce_img:single src="{page_image}" filename="{url_title}-photo" unique="none" alt="{title}" title="{title}" width="960" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="img hometxt-img"}
          </article>
  {/exp:channel:entries}
        </div>
</section>

{embed='embeds/.global.foot'}
{/exp:ce_cache:it}