{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}

{exp:ce_cache:it seconds="86400"}
<section class="container" id="content">
  <div class="row"> 
   <nav class="threecol">
     <div class="panel">
       <h4>Menu</h4>
		{exp:structure:nav start_from="/{segment_1}"}
       </div> 
       
        {if segment_1 == "support"}
       <a href="/contact"><img src="/media/images/contact-box.png" alt="Mon-Fri 8am - 5pm" /></a><br /><br />
       {/if}
       
       <div class="panel side">
        <h4>Latest News</h4>
        {embed='embeds/get.news' simple="true" limit="1" char_limit="100"}
        </div>
       
   </nav>
  
    <article class="ninecol last">
        <h1 class="underline">{title}</h1>
        
         {if page_video} 
                    
                  
              {exp:channel_videos:videos entry_id="{entry_id}" embed_width="450"}
       					{video:embed_code}
    				  {/exp:channel_videos:videos}
                	
         {/if}   
        
        {body}

        {exp:zeebra interval="3"}
        {exp:channel_images:images entry_id="{entry_id}"}
                        <a href="{image:url:medium}" class="fancybox fourcol product {zeebra}" data-fancybox-group="gallery">
                                       {exp:ce_img:single src="{image:url}"  alt="{title}" title="{title}" width="220" height="180" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image"}
                        <div class="product-title">{image:title}</div>
                        <div class="product-desc">{image:description}</div>

                        </a>
                               
        {/exp:channel_images:images}
        {/exp:zeebra}
        
        <ul>
          {exp:ce_cache:escape}
        {exp:channel_files:files entry_id="{entry_id}"}
        <li><a href="{file:locked_url}" title="{file:title}">{file:title}</a></li>
        {/exp:channel_files:files}
        {/exp:ce_cache:escape}
        </ul>
        
        
         {if extra_information} 
               		{extra_information}
         {/if}
        
        
     </article>   
        
</div>
        </section>
{/exp:channel:entries}


{embed='embeds/.global.foot'}

{/exp:ce_cache:it}