{exp:channel:entries limit=&quot;1&quot;}
{embed='embeds/.global.head' entry_id=&quot;{entry_id}&quot;}

{exp:ce_cache:it seconds=&quot;86400&quot;}
<section class="container" id="content">
  <div class="row"> 
   
  
    <article class="twelvecol last">
        <h1 class="underline">{title}</h1>
        {body}
  {/exp:channel:entries}      
        
				<h2 class="underline">Pages</h2>
      <ul class="sitemap">
                    <li><a href="/">Home</a></li>
                    <li><a href="/loading-systems">Products</a>
                    
                    {exp:channel:categories channel="products" category_group="1"}
                     <a href="{path='loading-systems/index'}">{category_name}</a>
                    {/exp:channel:categories}
                    
                    </li>
                    <li><a href="/industries">Industries</a>
                    
                    
                    {exp:channel:categories channel="products" category_group="4"}
                     <a href="{path='industries/index'}">{category_name}</a>
                    {/exp:channel:categories}
                    
                    </li>
                    <li><a href="/vehicle">Vehicle</a>
                    
                    {exp:channel:categories channel="products" category_group="5"}
                     <a href="{path='vehicle/index'}">{category_name}</a>
                    {/exp:channel:categories}
                    
                    </li>
                    <li><a href="/support">Service Support</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/agents">Agents</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

				<br />
                <br />
                <br />

				<h2 class="underline">Products</h2>
                <ul class="sitemap">
                    
                     {exp:channel:entries channel="products" dynamic="off" disable="pagination|categories"}
                    <li> <a href="{page_url}">{title}</a></li>
                    {/exp:channel:entries}
                    
               
                </ul>

	<br />
                <br />
                <br />

     </article>   
        
</div>
        </section>



{embed='embeds/.global.foot'}

{/exp:ce_cache:it}