{% extends "_layout" %} {% block content %}<section class="hero hero--thin hero--default with--gradient"><div class=hero__content><h1 class=hero__title>{{ category }}</h1></div></section>{% endblock %}