/**
 * Google Maps for ExpressionEngine v3
 * 
 * @package		Google Maps for ExpressionEngine
 * @author		Objective HTML
 * @copyright	Copyright (c) 2012, Justin Kimbrell
 * @link 		http://www.objectivehtml.com/google-maps
 * @version		3.1.0
 * @build		20121203
 */
 
.group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}				
				
.canvas {
	width: 100%;
	position: relative;
	}
	
.deferer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgb(164, 179, 186);
	cursor: pointer;
	z-index: 1100;
	}

	.deferer p {
		position: absolute;
		width: 100%;
		top: 48%;
		font-size: 2em;
		text-align: center;
		}
		
.gmap-marker-title {
	padding: 0;
	margin: .1em 0 .3em !important;
	}
		
.gmap-wrapper {
	position: relative;
	}
	
	.gmap-wrapper img { max-width: none; }
	
	.gmap-wrapper button {
		color: rgb(29, 32, 34);
		text-shadow: 0 1px 0 rgb(186, 201, 214);
		font-size: 1.1em;
		padding: .6em;
		border-top: 1px solid rgb(208, 223, 237);
		border-left: 1px solid rgb(208, 223, 237);
		border-bottom: 1px solid rgb(103, 111, 118);
		border-right: 1px solid rgb(103, 111, 118);
		background: rgb(193,208,222);
		background: -moz-linear-gradient(top, rgba(193,208,222,1) 0%, rgba(167,180,192,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,208,222,1)), color-stop(100%,rgba(167,180,192,1)));
		background: -webkit-linear-gradient(top, rgba(193,208,222,1) 0%,rgba(167,180,192,1) 100%);
		background: -o-linear-gradient(top, rgba(193,208,222,1) 0%,rgba(167,180,192,1) 100%);
		background: -ms-linear-gradient(top, rgba(193,208,222,1) 0%,rgba(167,180,192,1) 100%);
		background: linear-gradient(top, rgba(193,208,222,1) 0%,rgba(167,180,192,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d0de', endColorstr='#a7b4c0',GradientType=0 );
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b4c0', endColorstr='#929ea8',GradientType=0 );
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		float: right;
		position: relative;
		bottom: 0.3em;
		}
	
	.gmap-wrapper button.cancel-region, 
	.gmap-wrapper button.cancel-marker, 
	.gmap-wrapper button.cancel-region:active,
	.gmap-wrapper button.cancel-marker:active {
		filter: none;
		background: transparent;
		border: none;
		color: rgb(255, 255, 255);
		text-decoration: underline;
		text-shadow: none;
		cursor: pointer;
		padding: 0;
		}
	
	.gmap-wrapper button:active {
		border-top-color: rgb(183, 197, 210);
		border-left-color: rgb(183, 197, 210);
		background: rgb(174,188,201);
		background: -moz-linear-gradient(top, rgba(174,188,201,1) 0%, rgba(138,149,159,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,201,1)), color-stop(100%,rgba(138,149,159,1)));
		background: -webkit-linear-gradient(top, rgba(174,188,201,1) 0%,rgba(138,149,159,1) 100%);
		background: -o-linear-gradient(top, rgba(174,188,201,1) 0%,rgba(138,149,159,1) 100%);
		background: -ms-linear-gradient(top, rgba(174,188,201,1) 0%,rgba(138,149,159,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcc9', endColorstr='#8a959f',GradientType=0 );
		background: linear-gradient(top, rgba(174,188,201,1) 0%,rgba(138,149,159,1) 100%);
		}
	
	.gmap-wrapper .column {
		float: left;
		position: relative;
		}
	
	.gmap-wrapper .toggle {
		display: inline-block;
		margin: .5em auto !important;
		background: rgb(221, 225, 228);
		background: rgba(0, 0, 0, .2);
		padding: .5em;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		}
			
		.gmap-wrapper .toggle li {
			float: left;
			margin: 0 !important;
			padding: 0 !important;
			}
			
			.gmap-wrapper .toggle li a {
				padding: .5em;
				display: inline-block;
				background: rgb(255,255,255);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
				background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
				text-decoration: none;
				color: rgb(63, 63, 63);
				text-shadow: 0 1px 0 rgb(254, 254, 254);
				border-left: 1px solid rgb(254, 254, 254);
				border-right: 1px solid rgb(158, 158, 158);
				border-bottom: 1px solid rgb(254, 254, 254);
				border-top: 1px solid transparent;
				}
			
			.gmap-wrapper .toggle li a:active {
				background: rgb(234,234,234);
				background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(226,226,226,1) 50%, rgba(193,193,193,1) 51%, rgba(237,237,237,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(50%,rgba(226,226,226,1)), color-stop(51%,rgba(193,193,193,1)), color-stop(100%,rgba(237,237,237,1)));
				background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 50%,rgba(193,193,193,1) 51%,rgba(237,237,237,1) 100%);
				background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 50%,rgba(193,193,193,1) 51%,rgba(237,237,237,1) 100%);
				background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 50%,rgba(193,193,193,1) 51%,rgba(237,237,237,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ededed',GradientType=0 );
				background: linear-gradient(top, rgba(234,234,234,1) 0%,rgba(226,226,226,1) 50%,rgba(193,193,193,1) 51%,rgba(237,237,237,1) 100%);
				border-left: 1px solid rgb(109, 109, 109);
				border-bottom: 1px solid rgb(229, 229, 229);
				border-top: 1px solid rgb(158, 158, 158);
				-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3) inset;
				-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3) inset;
				box-shadow: 0 0 5px rgba(0, 0, 0, .3) inset;
				}
			
			.gmap-wrapper .toggle li a.active {
				background: rgb(127,127,127);
background: -moz-linear-gradient(top, rgba(127,127,127,1) 0%, rgba(56,56,56,1) 50%, rgba(45,45,45,1) 51%, rgba(127,127,127,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,127,127,1)), color-stop(50%,rgba(56,56,56,1)), color-stop(51%,rgba(45,45,45,1)), color-stop(100%,rgba(127,127,127,1)));
background: -webkit-linear-gradient(top, rgba(127,127,127,1) 0%,rgba(56,56,56,1) 50%,rgba(45,45,45,1) 51%,rgba(127,127,127,1) 100%);
background: -o-linear-gradient(top, rgba(127,127,127,1) 0%,rgba(56,56,56,1) 50%,rgba(45,45,45,1) 51%,rgba(127,127,127,1) 100%);
background: -ms-linear-gradient(top, rgba(127,127,127,1) 0%,rgba(56,56,56,1) 50%,rgba(45,45,45,1) 51%,rgba(127,127,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#7f7f7f',GradientType=0 );
background: linear-gradient(top, rgba(127,127,127,1) 0%,rgba(56,56,56,1) 50%,rgba(45,45,45,1) 51%,rgba(127,127,127,1) 100%);
				color: rgb(220, 220, 220);;
				text-shadow: 0 -1px 0 rgb(20, 20, 20);
				border-bottom-color: rgb(49, 49, 49);
				border-left-color: rgb(49, 49, 49);
				border-top: rgb(195, 195, 195);
				-moz-box-shadow: 0 0 5px rgb(0, 0, 0) inset;
				-webkit-box-shadow: 0 0 5px rgb(0, 0, 0) inset;
				box-shadow: 0 0 5px rgb(0, 0, 0) inset;
				}
			
			.gmap-wrapper .toggle li a.active:active {
				}
			
			.gmap-wrapper .toggle li a.last {
				-moz-border-radius: 0 5px 5px 0;
				-webkit-border-radius: 0 5px 5px 0;
				border-radius: 0 5px 5px 0;
				border-right: 1px solid rgb(205, 205, 205);
				}
									
			.gmap-wrapper .toggle li a.last.active {
				border-right-color: rgb(58, 58, 58);
				}
						
			.gmap-wrapper .toggle li a.first {
				-moz-border-radius: 5px 0 0 5px;
				-webkit-border-radius:  5px 0 0 5px;
				border-radius: 5px 0 0 5px;
				}
			
	.gmap-wrapper .markers.column {
		width: 25%;
		text-align: center;
		}
			
		.gmap-wrapper .markers.column ul {
			margin: 1em 10px 0 0;
			text-align: left;
			max-height: 528px;
			}
			
			.gmap-wrapper .lists ul {
				overflow-y: auto;
				}
								
				.gmap-wrapper ul.markers li {
					position: relative;
					}
					
			.gmap-wrapper .markers.column li {
				display: block;
				padding: .5em;
				margin: .2em 0;
				font-size: 1.2em;
				cursor: move;
				}
				
			.gmap-wrapper .markers.column li.placeholder {
				height: 50px;
				border: 3px dashed rgb(129, 149, 160);
				}
							
			.gmap-wrapper .markers.column li.even{
				background: rgb(232,236,239);
				background: -moz-linear-gradient(top, rgba(232,236,239,1) 0%, rgba(219,224,227,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,236,239,1)), color-stop(100%,rgba(219,224,227,1)));
				background: -webkit-linear-gradient(top, rgba(232,236,239,1) 0%,rgba(219,224,227,1) 100%);
				background: -o-linear-gradient(top, rgba(232,236,239,1) 0%,rgba(219,224,227,1) 100%);
				background: -ms-linear-gradient(top, rgba(232,236,239,1) 0%,rgba(219,224,227,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecef', endColorstr='#dbe0e3',GradientType=0 );
				background: linear-gradient(top, rgba(232,236,239,1) 0%,rgba(219,224,227,1) 100%);
				}
			
			.gmap-wrapper .markers.column li.odd {
				background: rgb(214,218,221);
				background: -moz-linear-gradient(top, rgba(214,218,221,1) 0%, rgba(206,210,213,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,218,221,1)), color-stop(100%,rgba(206,210,213,1)));
				background: -webkit-linear-gradient(top, rgba(214,218,221,1) 0%,rgba(206,210,213,1) 100%);
				background: -o-linear-gradient(top, rgba(214,218,221,1) 0%,rgba(206,210,213,1) 100%);
				background: -ms-linear-gradient(top, rgba(214,218,221,1) 0%,rgba(206,210,213,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dadd', endColorstr='#ced2d5',GradientType=0 );
				background: linear-gradient(top, rgba(214,218,221,1) 0%,rgba(206,210,213,1) 100%);
				}
							
			.gmap-wrapper .markers .delete {
				position: absolute;
				right: .25em;
				top: .25em;
				text-decoration: none;
				padding: 0px 5px;
				display: block;
				background: none;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				}
			
			.gmap-wrapper .markers .delete:hover {
				color: inherit;
				background: rgb(192, 196, 198);
				background: rgba(0, 0, 0, .2);
				}
				
			.gmap-wrapper .markers .coordinate {
				font-size: .65em;
				}
	
	.gmap-wrapper .map.column {
		width: 75%;
		z-index: 500;
		padding: 0;
		}
		
		.gmap-wrapper .gmap-popup-window {
			display: none;
			position: absolute;
			top: 88px;
			left: 100px;
			border-top: 1px solid rgb(130, 130, 129);
			border-left: 1px solid rgb(130, 130, 129);
			border-bottom: 1px solid rgb(29, 29, 28);
			border-right: 1px solid rgb(29, 29, 28);
			background: rgb(49, 50, 48);
			background: rgba(0, 0, 0, .8);
			color: rgb(255, 255, 255);
			padding: 1em;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			text-shadow: 0 1px 0 rgb(0, 0, 0);
			z-index: 1100;
			}
			
			.gmap-wrapper a.close,
			.gmap-wrapper a.close:link,
			.gmap-wrapper a.close:visited {
				color: rgb(255, 255, 255) !important;
				text-decoration: none !important;
				font-size: .75em;
				position: absolute;
				right: 1em;
				top: 1em;
				}
			
			.gmap-wrapper a.close:hover {
				background-color: transparent !important;
				color: rgb(255, 255, 255);
				text-decoration: underline !important;
				}
				
				/*		
			.gmap-wrapper .gmap-popup-window .arrow {
				background: url(/-/media/black-arrows.png) 0 -18px no-repeat;
				width: 28px;
				height: 12px;
				position: absolute;
				top: -12px;
				}
			*/
			.gmap-wrapper .gmap-popup-window .title {
				font-size: 1.5em !important;
				padding: 0 0 .6em !important;
				margin: 0 !important;
				margin-bottom: 0 !important;
				text-shadow: none !important;
				color: rgb(255, 255, 255) !important;
				font-weight: 100 !important;
				}
			
			.gmap-wrapper .gmap-popup-window p {
				color: rgb(255, 255, 255) !important;
				font-size: 1.2em;
				padding: 0 !important;
				margin: 0 !important;
				}
				
		.gmap-wrapper .map.column .geocoder {
			position: absolute;
			top: 0;
			left: 95px;
			z-index: 1000;
			padding: 5px 10px;
			background: rgb(50, 50, 50);
			background: rgba(0, 0, 0, .8);
			border-bottom: 1px solid rgb(22, 22, 22);
			border-right: 1px solid rgb(22, 22, 22);
			-moz-border-radius: 0 0 3px 3px;
			-webkit-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			width: 63%;
			}
			
		.gmap-wrapper .map.column .geocoder label {
			margin-bottom: .25em;
			font-size: 1.3em;
			display: block;
			color: rgb(255, 255, 255);
			text-shadow: 0 1px 0 rgb(0, 0, 0);
			font-weight: 100;
			}
			
		.gmap-wrapper .map.column .geocoder input {
			display: inline-block;
			float: left;
			width: 98%;
			margin-right: 2%;
			margin-bottom: 10px;
			}
		
		.gmap-wrapper .suggestions {
			top: 30% !important;
			left: 3% !important;
			width: 84% !important;
			}
		
		.gmap-wrapper .suggestions ul {
			max-height: 80px !important;
			}
			
.gmap-container { position: relative; }

.gmap-flyout {
	display: none;
	position: absolute;
	width: 310px;
	background: black;
	background: rgba(0, 0, 0, .8);
	color: rgb(255, 255, 255);
	top: 10%;
	right: 190px;
	padding: 1em;
	z-index: 500;
	}


.gmap-flyout.gmap-import-panel { width: 340px; }
	
	.gmap-flyout ol[role="presentation"],
	.gmap-flyout select { display: none; }
	
	.gmap-flyout .close {
		float: right;
		}
	
	.gmap-flyout input {
		width: 300px;
		margin-bottom: 1em;
		}

.tags {
		margin: 5px 0;
		}
		
	.tag {
		padding: 0 0 0 7px;
		margin: 2px 7px 2px 0;
		background: rgb(193, 223, 244);
		display: inline-block;
		float: left;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: rgb(53, 61, 67) !important;
		}
	
	.tag a {
		display: inline-block;
		padding: 5px 3px 5px 3px;
		color: rgb(53, 61, 67) !important;
		}
	 
	.tag a:hover {
		color: rgb(53, 61, 67);
		text-decoration: none;
		background: rgb(169, 195, 214);
		-moz-border-radius: 0 3px 3px 0;
		-webkit-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		}

.gmap-upload {
	background: url('images/import.png') 0 0 no-repeat;
	display: inline-block;
	width: 26px;
	height: 26px;
	position: absolute;
	bottom: 5px;
	left: 10px;
}


.gmap-flyout h3 { margin-bottom: 10px; font-size: 1.4em; }

.gmap-flyout .step-2 label {
	width: 80px;
	display: inline-block;
}

.gmap-flyout .step-3 p {
	font-size: 1.2em;
	line-height: 1.5em;
}

.gmap-flyout .progress-bar {
	margin-bottom: 10px;
}

/* -----------------------------------------
	Marker Icons
----------------------------------------- */

.gmap-icons {
	padding: 1em 0;
}

.gmap-icons li {
	float: left;
	display: inline;
	margin: 1px;
}

.gmap-icons li a {
	display: block;
	text-align: center;
	padding: 2px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	
.gmap-icons li a.selected,
.gmap-icons li a:hover {
	background: rgb(10, 10, 10);
}
	
.gmap-icons li a,
.gmap-icons li img {
	width: 28px;
	height: 28px;
}


.gmap-wrapper .side-panel {
	width: 170px;
	right: 0;
	top: 100px;
	}

.gmap-wrapper .side-panel .gmap-icons {
	padding: 0;
}	

.gmap-wrapper .side-panel .gmap-icons li a,
.gmap-wrapper .side-panel .gmap-icons li img {
	width: 22px;
	height: 22px;	
}

	.gmap-wrapper .side-panel p {
		color: rgb(255, 255, 255);
		padding: 0;
		margin: 0;
		}
	
	.gmap-wrapper .side-panel li {
		margin-bottom: .5em;
		list-style: none;
		}
		
		.gmap-wrapper .side-panel li label {
			color: rgb(255, 255, 255) !important;
			margin-bottom: .5em;
			display: block;
			}

	.gmap-wrapper .side-panel input {
		width: 164px;
		margin: 0;
		}
		
	.gmap-wrapper .side-panel button {
		width: 170px;
		margin-top: 1em;
		}

.gmap-wrapper .side-content-panel {
	top: 100px;
	right: 200px;
	width: 398px;
	}
	
	.gmap-wrapper .side-content-panel textarea {
		width: 396px;
		height: 351px;
		}
		
.gmap-wrapper .gmap-import-panel {
	top: 100px;
}
		
.gmap-wrapper .suggestions {
	position: absolute;
	top: 25%;
	left: 95px;
	padding: 1em;
	font-size: 1.25em;
	width: 468px;
	}
	
	.gmap-wrapper h4 {
		font-size: 1.5em !important;
		margin: 0 !important;
		padding: 0 0 1em 0!important;
		border: none !important;
		margin: 0 0 .5em;
		color: rgb(255, 255, 255) !important;
		}		
		
	.gmap-wrapper .lists li {
		position: relative;
		}
	
	.gmap-wrapper .lists .show-statistics {
		float: right;
		font-size: .6em;
		}
	
	.gmap-wrapper .lists .statistics {
		background: white;
		margin: 1em 0 0;
		padding: 1em 1em 0;
		font-size: .7em;
		display: none;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		}
	
	.gmap-wrapper .lists .statistics p {
		padding: 0 0 1em;
		margin: 0;
		}
	
	.gmap-wrapper .suggestions .statistics {
		margin: 0 0 .5em;
		color: rgb(255, 255, 255);
		}
	
	.gmap-wrapper .suggestions ul {
		max-height: 250px;
		overflow-y: auto;
		}	
	
	.gmap-wrapper .suggestions li {
		list-style: none;
		}
		
		.gmap-wrapper .suggestions li a {
			display: block;
			padding: .5em;
			color: rgb(255, 255, 255);
			text-decoration: none;
			}
		
	.gmap-wrapper .suggestions a:hover {
		background: rgb(110, 110, 110);
		}
	
	.gmap-wrapper .color-picker {
		position: absolute;
		right: 204px;
		background: black;
		background: rgba(0, 0, 0, .8);
		padding: 10px;
		width: auto;
		}
		
	
.gmap_marker_mode td,
.gmap_waypoint_mode td ,
.gmap_region_mode td {
	background-color: rgb(213, 220, 228) !important;
	}
	