html,body {
    @extend %full-height;
    background: radial-gradient(circle, darken($blueDark, 0%), darken($blueDark, 20%)) !important;
    overflow: hidden;
}

.holder {
    @extend %full-height;
    @include centered(".holder__content");
}

.holder__logo {
    margin: 0 auto;
    @include animation("slideInDownBounce 1s");
    @include mobile-only {
        width: 90%;
        height: auto;
    }
}
