@import "base";

// Include animations
@include slideInDownBounce;

* {
    //transition: 0.2s ease-in-out;
}

body {
    background: #fff;
    font-family: $arial;
    color: #333;
    min-height: 2000px;
    @extend %default-background-image;
    background-image: url("../images/truck.jpg");
}

.row {
    @include break;
}

.container {
    @include container(85em);
    @extend %padding-horizontal;
}

// Header ===================================

// Overrides for headroom.js

.headroom--unpinned {
    & .top {
        top: -30px;
    }
    & header.global {
        top: 0;
    }
    & .logo img {
        @include desktop {
            width: 80px;
        }
    }
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
    background: darken($blueDark, 30%);
    height: 30px;
    transition: top 0.3s ease-in-out;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header.global {
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #fff;
    background-color: rgba(white, 0.8);
    transition: top 0.3s ease-in-out;
}

.logo {
    @include span(2);
    & img {
        padding: 1em;
        width: 60px;
        height: auto;
        transition: width 0.3s ease-in-out;
        @include desktop {
            padding: 1em;
            width: 100px;
            height: auto;
        }
    }
}

.menu {
    @include span(10);
    @include last;
}

// Hero =====================================

.hero {
    //@extend %default-background-image;
    //background-image: url("../images/truck.jpg");
    // min-height: 650px;
    //background-position: 0 10%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
