.button {
	@include button(darken($red,10));
	
	&:hover {
		@include button(lighten($red, 0));
	}
	&:visited {
		@include button(lighten($red, 00));
	}
	
	&.small {
		font-size: 10px;
		padding:3px 6px;
	}
}

.button.yellow {
	@include button(darken($yellow,10));
	
	&:hover {
		@include button(lighten($yellow, 0));
	}
	&:visited {
		@include button(lighten($yellow, 00));
	}
	
	&.small {
		font-size: 10px;
		padding:3px 6px;
	}
}

.button.blue {
	@include button(darken($blue,10));
	
	&:hover {
		@include button(lighten($blue, 0));
	}
	&:visited {
		@include button(lighten($blue, 00));
	}
	
	&.small {
		font-size: 10px;
		padding:3px 6px;
	}
}