.columns {
	clear: both;
	margin-bottom: 15px;
}

.column1 {

}

.column3 {

	
	//background: rgba(red, 0.1);
	display: inline;
	width: 290px;
	margin-right: 30px;
	margin-bottom: 15px;
	float: left;
	
	&.last {
		margin-right: 0px;
		
	}
	
	&.wide {
	width: 480px;
	}
	
	&.short {
	width: 200px;
		&.last {
			margin-right: 0px;
		}
	}
	
}

.column2 {

	
	//background: rgba(red, 0.1);
	display: inline;
	width: 450px;
	margin-right: 30px;
	margin-bottom: 15px;
	float: left;
	
	&.last {
		margin-right: 0px;
		
	}
	
}