body {
	background: #EEEEEE;
	//overflow-x: hidden; 
	//@include background-image(linear-gradient(50% 0%, #F7F7F7, #ffffff 100%));
	//height: 100%;
	//min-height: 100%;
}
.image {
	border: solid 1px #eee;
}
header#mobile-header {
	display: none;
}
#top {
	background: $blueDark;
	color: darken($blueLight, 0);
	height: 30px;
	@include background-image(linear-gradient(lighten($blueDark,5), lighten($blueDark,0)));
	line-height: 30px;
	
	& nav {
	float: right;
	
		& ul{
			margin:0px;
			padding:0px;
			list-style: none;
		}
		
		& li {
			margin:0px;
			padding:0px;
			float: left;
			line-height: 30px;
		}
	}
}

.clear {
	clear: both;
}
.row.space {
	padding: 30px 0px;
}
.hometxt-img {
	margin-top: 40px;
}
.container.site-wrap {
	background: white;
}


header#header {
	background: $blueDark url('/media/images/head-bg.jpg') no-repeat center top;
	@include text-shadow(rgba(darken($blueDark,20), 1) 1px 1px 0);
	padding-top: 15px;
	color: $white;
	position: relative;
	font-size: 14px;
	margin: 0px;
	
	& .top-contact {
		position:absolute;
		top: 0px;
		right: 0px;
		font-size: 18px !important;
		
			& a {
				color: white;
				text-decoration: none;
				font-size: 18px !important;
				
					&.tel span.icon {
						background: url('/media/images/images.png') no-repeat -306px -10px;
						width: 11px;
						height: 10px;
						display: inline-block;
						margin-right: 3px;
						font-size: 18px !important;
					}
					
					&.email span.icon {
						background: url('/media/images/images.png') no-repeat -327px -11px;
						width: 14px;
						height: 9px;
						display: inline-block;
						margin-right: 3px;
						margin-left: 10px;
						font-size: 18px !important;
					}
			}
	}
	
	& .twelvecol {
		//background: red;
		position: relative;
	}
	
	& a#logo {
		background: url('/media/images/joloda-logo.png') no-repeat center center;
		width: 150px;
		height: 97px;
		display: block;
		margin-bottom: 15px;
		
		& span {
			display: none;
		}
	}
	
	& #global-search {
		position: absolute;
		right: 0px;
		top: 50px;
		
		& input#keywords {
			background: url('/media/images/images.png') no-repeat -2px -2px;
			width: 142px;
			padding-left: 50px;
			height: 36px;
			border: 0px none;
		}
		
		& button#search-button {
			background: transparent;
			width: 38px;
			height: 38px;
			border: 0px none;
			position: absolute;
			top: 0px;
			right: 0px;
			cursor: pointer;
			display: block;
			& span {display:none; }
		}
	}
	
	& ul#global-user {
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 0px;
		list-style: none;
		font-size: 12px;
		
		& li {
		margin: 0px;
		padding: 0px;
		list-style: none;
		float: left;
		margin-left: 15px;
		}
		
		& a {
			color: $white;
			text-decoration: none;
			
			& p {
				margin:0px;
				padding:0px;
				display:inline;
			}
		}
		
		
	}

}

#nav.container {
	margin: 0px;
	padding: 0px;
	position: relative;
}
.main-menu {
	margin: 0px auto;
	padding: 0px;
	max-width: 950px;
	min-width: 755px;
}
.tinynav { 
    display: none;
    width: 99%;
    font-size: 18px;
    margin-bottom: 3px;
}


nav #menu {
	margin: 0px;
	padding: 0px;
	z-index: 100;
	overflow: visible;

		&.with-banner {
		position: absolute;
		width: 950px;
		}
		background: $blueDark;
		height: 40px;
		@include border-bottom-radius(5px);
		margin-bottom: 15px;
		position: relative;
		
		@include background-image(linear-gradient(lighten($blueDark,10), $blueDark));
		color: $white;
		border-top: solid 1px rgba(lighten($blueDark,10), 1);
		border-bottom: solid 1px rgba($blueLight, 0.1);
		border-left: solid 1px rgba($blueLight, 0.1);
		border-right: solid 1px rgba($blueLight, 0.1);
		@include box-shadow(rgba($blueDark,1) 0px 1px 0px);
		@include text-shadow(rgba(darken($blueDark,20), 1) 1px 1px 0);

		
		& ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			z-index: 9999;
			
			& ul.subnav {
				background: $blueDark;
				position: absolute;
				width: 200px;
				display: none;
				z-index: 9999;
				
				border: solid 1px rgba($blueLight, 0.1);
				
					& li {
						width: 200px;
						
							& a {
								padding: 0px 10px;
								line-height: 30px;
							}	
					}	
			}
			
				& li:hover ul.subnav {
					display: block;
					z-index: 9999;
				}
		}
		& li {
			margin: 0px;
			padding: 0px;
			float: left;
			list-style: none;
			line-height: 40px;
			
				&.current a { color:yellow; }
		}
		& a {
			display: block;
			color: white;
			text-decoration: none;
			line-height: 40px;
			padding: 0px 20px;
		}
	
		
	}
	

ul#social-links {

	position: absolute;
	right: 0px;
	top: 10px;

	& span {display:none;}
	
	& a {
		display: block;
		width: 19px;
		height: 19px;
	}
	
	& li {
		float: left;
		margin-right: 15px;
	}
	
	& li#youtube {
		background: url('/media/images/images.png') no-repeat -205px -2px;
		width: 19px;
		height: 19px;
	}
	& li#facebook {
		background: url('/media/images/images.png') no-repeat -277px -2px;
		width: 10px;
		height: 19px;
	}
	& li#twitter {
		background: url('/media/images/images.png')  no-repeat -240px -6px;
		width: 19px;
		height: 19px;
	}
}
	
.banner {
	background: $blueDark;
	margin-bottom: 15px;
	height: 450px;
	color: $blueLight;
	@include text-shadow(rgba(darken($blueDark,0), 1) 1px 1px 0);
	
	& .inner {
	height: 450px;
	margin: 0 auto;
	max-width: 1400px;
	min-width: 960px;
	text-align: center;
	background: url('/media/images/banner_tmp.jpg') top center no-repeat;
	
		& .section {
			//background: red;
			text-align: center;
			margin-top: 50px;
			padding-left: 150px;
			
		}
	
	}
	
	.home-banner {
		background:url(/media/images/home-banner.jpg) left top no-repeat;
		height: 450px;
		text-align: right;
		position: relative;
	}
	
		#banner-slider {
		margin:0px;
		padding:0px;
		margin-top: 60px;
		
			& .product {
				margin-top:0px;
			}
		
		}
		
		#banner-slider li {
		height: 380px;
		@include text-shadow(rgba(lighten($blue,0), 0.1) 1px 1px 0);
		margin:0px;
		padding:0px;
		
		text-align: left;
		
		& .banner-title {
			color: white;
			font-size: 32px;
		}
		
		
		
		& .banner-image {
			float: right;
			margin-left: 30px;
		}
	
	}
	
}

.banner-more-link {
	background: url('/media/images/more-button.png');
	width: 107px;
	height: 46px;
	display: block;
	position: absolute;
	z-index: 99;
	bottom: 55px;
	right: 200px;
	
		& span {
			display: none;
		}
}

#go-prev, #go-next {
	position: absolute;
	z-index: 20;
	display: block;
	top: 140px;
	
}
a#go-prev {

	background: url('/media/images/images.png') no-repeat 0 -45px;
	width: 35px;
	height: 36px;
	left: 20px;
}

a#go-next {

	background: url('/media/images/images.png') no-repeat -58px -45px;
	width: 35px;
	height: 36px;
	right: 20px;
	
}

#content {
	position: relative;
	
	
}

.logo {
	float: left;
	padding: 10px;
	
		&.first {padding-left:0px;}
		&.last {padding-right:0px;}
}
.callback {
	height: 295px;
	background: $red;
	padding: 20px 20px 5px 20px;
	color: white !important;
	
		& h4 {
			color: white !important;
		}
}
.sitemap {
	width: 500px;
	display: block;
	padding: 0px;
	margin:0px;
	line-height: 1;
	//background: red;
	
		& li {
			padding: 0px;
			margin: 0px;
			width: 500px;
			display: block;
			line-height: 1;
			//background: blue;
			
			& a {
				width: 500px;
				display: block;
				line-height: 1;
				//background: yellow;
			}
		}
}
footer {
	margin-top: 15px;
	background: white;
	height: 200px;
	color: $gray;
	padding-top: 15px;
	border-top: solid 1px $grayLight;
}