

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : $mobile_size) {
/* Styles */
	body {
		max-width: 640px;
		min-width: 320px;
		poistion: relative;
	}
	a#logo {
		display: block;
		width: 100%;
		margin-left: 20px;
	}
	nav #menu, .banner, #global-search, .desktop-only {
		display: none;
	}
	.column3, .column2, .column1 {
		display: block;
		padding: 20px;
		clear: both;
		float: none;
		width: auto !important;
	}
	
	header#mobile-header {
	margin: 0px;
	padding: 0px;	
	margin-bottom: 3.8%;
	display: block;
}
header#mobile-header #mobile-header-container {
	background: #333;	
	padding-top: 7px;
	color: white;
	font-family: Glegoo;
	min-height: 50px;
	/* Firefox v3.6+ */
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(68,68,68) 0%,rgb(17,17,17) 100%); 
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(68,68,68)),color-stop(1, rgb(17,17,17)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image:-webkit-linear-gradient(-90deg,rgb(68,68,68) 0%,rgb(17,17,17) 100%);
	/* Opera v11.10+ */
	background-image:-o-linear-gradient(-90deg,rgb(68,68,68) 0%,rgb(17,17,17) 100%);
	/* IE v10+ */
	background-image:-ms-linear-gradient(-90deg,rgb(68,68,68) 0%,rgb(17,17,17) 100%);
	background-image:linear-gradient(-90deg,rgb(68,68,68) 0%,rgb(17,17,17) 100%);
}
header#mobile-header #mobile-nav-menu {	
		background: #009EDA;
		list-style: none;
		padding-bottom: 10px; 
		display: none;
		color: white;
		text-decoration: none;
		text-align: center;
		margin: 0px;
		padding: 0px;
}
header#mobile-header #mobile-nav-menu ul, header#mobile-header #mobile-nav-menu li {
	margin: 0px;
	padding: 0px;	
	list-style: none;
}
header#mobile-header #mobile-nav-menu a {
	color: white;
	text-decoration: none;	
	padding: 1.7%; 
	display: block;
}
#mobile-nav-menu a:hover, #mobile-nav-menu a:active, #mobile-nav-menu li.current a {
	background: #0088BB;
}
header#mobile-header #mobile-logo {
	position: absolute;
	left: 20px;
	top: 8px;
}
header#mobile-header #mobile-section {
	line-height: 42px;
	height: 50px;
	text-align: center;
}
header#mobile-header #mobile-search {
	background: #333;
	text-align: left;
}
header#mobile-header #mobile-search input[type="text"] {
	
}
header#mobile-header #mobile-search button {
	
}
header#mobile-header #mobile-nav {
	position: absolute;
	right: 20px;
	top: 10px;
	height: 40px;
	width: 40px;
	display: block;
	cursor: pointer;
	
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
}
header#mobile-header #mobile-nav .active {
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	transform: rotate(-90eg);
	-webkit-transform: rotate(-90deg);
}


}

