.testimonial {
background: $grayLight;
@include border-radius(10px);
padding: 15px;
height: 60px;

	& .testimonial-img {
		float: left;
		margin-right: 15px;
	}

}

      #map {
        height: 380px;
        width: 940px;
        border: 1px solid #fff;
        margin-top: 15px;
	color: $blueDark;
	@include text-shadow(rgba(lighten($blue,0), 0.1) 1px 1px 0);
      }

.cat-item-3, .cat-last, .product.item-3, .product.last, .product.nth-4 {
	margin: 0px;
	 margin-bottom: 25px;
	//background: red;
}

a.category, .product, .office {
	text-decoration: none;
	background: white;
	@include box-shadow(1px 1px 1px #ccc);
	@include border-radius(3px);
	 -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 25px;
	min-height: 175px;
	
	&.last {
		margin-right: 0px;
		
	}
	
	& .main-office {
		position: absolute;
		width: 100%;
		text-align: center;
	
		& span {
		margin-left: 70px;
		z-index: 5;
		background: $red;
		color: white !important;
		padding: 5px 10px;
		display: block;
		width: 100px;
		}
	}
}

.office {
	min-height: 290px;
	& .inner {
		padding: 0px 10px;
	}

	& h4 {
		font-size: 14px;
		line-height: 14px;
	}

}
.other-banner {
	background: url('/media/images/more_banner.png');
	padding-left: 15px;
	line-height: 85px;
	display: block;
	height: 75px;
	color: white !important;
	text-decoration: none;
	font-size: 22px;
}
.product {
	min-height: 250px;
}
a.category:hover, .product:hover, .office:hover {
transform: scale(0.95);
-ms-transform: scale(0.95); /* IE 9 */
-webkit-transform: scale(0.95); /* Safari and Chrome */
-o-transform: scale(0.95); /* Opera */
-moz-transform: scale(0.95); /* Firefox */
}
.category-title, .product-title {
	display: block;
	text-align: center;
	color: $red;
	text-decoration: none !important;
	//background: red;
	padding: 7px 7px 2px 7px;
}
.product-desc {
	text-align: center;
}

.side {
	margin: 0px;
	padding: 0px;
}

#product-slider {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid $grayLight;
    height:30px;
   // background: $grayLight;
    @include border-top-radius(3px);
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
	 border-bottom:1px solid $grayLight;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    background: $red;
    @include border-top-radius(3px);
    font-size:11px;
    display:block;
    height: 29px;
    line-height:30px;
    width: 120px;
    text-align:center;
    text-decoration:none;
    color: white !important;
    padding:0px;
    margin:0px;
    margin-right: 1px;
    position:relative;
    top:1px;
	border-bottom:1px solid $grayLight;
}

ul.tabs a:active {
    outline:none;
    background: $red;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
   background: $gray;
   color: white;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
  background: $grayDark;
     color: white;
}


/* initially all panes are hidden */
.panes .pane {
    display:none;
}

.panes div, .panel {
    display:none;
    padding:15px 10px;
    border: 0px none;
    border-top:0;
    min-height:100px;
    font-size:14px;
    background-color:#fff;
    @include border-bottom-radius(3px);
	
}
.panel {
	display: block;
	 padding:15px 15px;
    border: 0px none;
    margin-bottom: 15px;
    position: relative;
    border-top:0;
    min-height:50px;
    font-size:14px;
    background-color:#fff;
    @include border-bottom-radius(3px);
	
		& h4, h4.title {
			color: $gray;
			font-size: 14px !important;
			padding-bottom: 15px;
			border-bottom: solid 1px $grayLight;
			line-height: 14px;
		}
		
		& h4.title {
			border-bottom: none 0px;
			padding: 0px;
			padding-top: 10px;
		}
		
		& li {
			list-style-image: url(/media/images/bullet.png);
		}
		
		&.logo-panel {
			min-height: auto;
		}
}