body, .button {
	font-family: 'Ubuntu Condensed', sans-serif;
}
.align-right {
	text-align: right;
}
body {
	color: #333;
	font-size: 12px;
}

h1,h2.home,h3.home,h4,h5 {
	font-family: 'Abel', serif;
	color: $red;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
	@include text-shadow(rgba(lighten($white,0), 0.5) 1px 1px 0);
	
	& a {
		text-decoration: none;
		color: $blueDark;
	}
	
}
h1.underline, h2.underline {
		border-bottom: solid 1px #dddddd;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
h2, h3, h4 {
	color: $gray;
	font-family: serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
}
h2.small, h3.small {
	color: $gray;
	font-size: 16px;
}
h4 {
	font-size: 18px;
}
#news .title {
	font-size: 24px;
}
ul {
	margin: 20px;
	margin-right: 0px;
}

p, ul {
	font-family: sans-serif;
}