/* Colours ******************/

$black: #232323;
$white: #fff;
$grayDark: #333;
$gray: #666;
$grayLight: #eeeeee;

$blue: #1787d6;
$blueLight: #3eaaf3;
$blueDark: #03105a;
$red: #cc0000;
$green: #66cc00;
$yellow: #ffcc00;
$orange: #ff6600;
$pink: #ff0066;
$purple: #2d2e59;

/* Margin/Padding ******************/
$margin: 10px;
$padding: 10px;

/* Base ********************/

$fontsize: 12px;
$fontcolor: $grayDark;
$lineheight: 1.4;
$backgroundColor: $white;

$mainColor: $blue;
$linkColor: $blue;
$linkColorHover: lighten($linkColor, 20);