$experimental-support-for-svg: true;
@import'vars';
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Abel);

/* Size Switch ********/

$desktop_size: 1140px;
$mobile_size: 960px;

/* COGO Blueprint ********/

@import "compass/layout";
@import "compass/css3";


@import "cogo/1140";
@import "cogo/nav";
@import "cogo/type";
@import "cogo/gradient";
@import "cogo/button";

/************************/



@import'type';
@import'layout';
@import'tables';
@import'forms';
@import'buttons';
@import "parts";
@import "fancybox";
@import "mobile";