{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}
{/exp:channel:entries}

{exp:ce_cache:it seconds="86400"}

{exp:channel:entries limit="1"}
<section class="container" id="content">
  <div class="row">
  <div class="sevencol">
    <h1>{title}</h1>
    {body}
    {/exp:channel:entries}
    
    
    {exp:channel:entries channel="offices" dynamic="off" orderby="position" sort="asc"}
    <div class="office sixcol {switch='|last'}"> 
    		  {if is_main_office == "YES"}<div class="main-office"><span>Main Office</span></div>{/if}
    		{exp:channel_images:images entry_id="{entry_id}" limit="1"}
     	
              {exp:ce_img:single src="{image:url}" filename="{url_title}-offices" unique="none" alt="{title}" title="{title}" width="300" height="160" crop="yes|center,center|0,0|smart_scale" allow_scale_larger="yes" class="image office-image"}
              {/exp:channel_images:images}
              <div class="inner">
             
              <h4><a href="{page_url}">{title}</a></h4>
              <p>{office_address}</p>
              <p><strong>Tel:</strong> {office_telephone}
              <br />
              <strong>Fax:</strong> {office_fax}
              </p>
     	 </div>
    </div>
    {/exp:channel:entries} <!-- /Office --> 
    
  </div>
  <div class="fivecol last">
  <h2>Contact Form</h2>
  <br />
    <fieldset class="panel">
    {exp:ce_cache:escape}

{exp:freeform:form
    form_id="1"
    form_name="contact" 
    required="name|email"
    return="contact/thanks"
    recipients="yes"
    notify="sales@joloda.com|ian@cogocreative.co.uk"
    admin_notify="sales@joloda.com|ian@cogocreative.co.uk" 
    user_email_template="contact"
    recipient_template="contact"
    admin_notification_template="contact" 
    user_email_field="email"
}


 {if freeform:general_errors}
        <h2>There were some error(s) with your submission:</h2>
        <ul>
            {freeform:general_errors}
            <li>{freeform:error_message}</li>
            {/freeform:general_errors}
        </ul>
    {/if}

         <p>
                <label for="name">{freeform:label:name}</label><br />
                <input type="text" id="name" name="name" size="40" value="" />
        </p>
         <p>
                <label for="company">Company:</label><br />
                <input type="text" id="company" name="company" size="40" value="" />
        </p>
        <p>
                <label for="country">Country:</label><br />
                <input type="text" id="country" name="country" size="40" value="" />
        </p>
        <p>
                <label for="from">Email:</label><br />
                <input type="text" id="email" name="email" size="40" maxlength="35" value="" />
        </p>
        <p>
                <label for="tel">Telephone:</label><br />
                <input type="text" id="telephone" name="telephone" size="40" value="" />
        </p>
        <p>
                <label for="message">Message:</label><br />
                <textarea id="message" name="message" rows="10" cols="40">
                       
                </textarea>
        </p>
        <p>
                <input name="submit" type='submit' value='Send' class="button" />
        </p>
{/exp:freeform:form} 
{/exp:ce_cache:escape}
    </fieldset>
  </div>
</section>
</div>
{embed='embeds/.global.foot'}

{/exp:ce_cache:it}