{% import "_includes/forms" as forms %}

{% includeCssResource "analytics/css/AnalyticsField.css" %}

{% if craft.analytics.isConfigured %}

    {%- includeJsResource 'analytics/js/jsapi.js' first %}
    {% includeJsResource 'analytics/js/AnalyticsUtils.js' %}
    {% includeJsResource 'analytics/js/AnalyticsField.js' %}

    {% if hasUrl %}

        <div
            data-element-id="{{ element.id }}"
            data-locale="{{ element.locale }}"
            class="analytics-field">

            <span class="uri light right">&nbsp; URI: {{ uri }}</span>

            {% set metricOpts = {
                'ga:pageviews':'ga:pageviews'|t,
                'ga:sessions':'ga:sessions'|t,
                'ga:bounceRate':'ga:bounceRate'|t,
                'ga:avgTimeOnPage':'ga:avgTimeOnPage'|t,
                'ga:exitRate':'ga:exitRate'|t,
            } %}

            {{ forms.select({
                class:'analytics-metric',
                value:'ga:pageviews',
                options: metricOpts
            }) }}

            <div class="spinner hidden"></div>
            <div class="chart"></div>
            <div class="error"></div>

        </div>

    {% elseif isNew %}

        <div class="analytics-field analytics-error disable-icon">
            <div class="error">Report will appear when the element is saved.</div>
        </div>

    {% else %}

        <div class="analytics-field analytics-error">
            <div class="error">This element doesn't support urls.</div>
        </div>

    {% endif %}

{% else %}

    <div class="analytics-field center">

        <p><a href="{{url('settings/plugins/analytics')}}">{{'Configure Analytics plugin in order to get started'|t}}</a></p>

    </div>

{% endif %}
