{exp:channel:entries limit="1"}
    {embed='embeds/.global.head' 
    entry_id="{entry_id}" 
    show_banner="true" 
    title="Vanloda Suppliers {triggers:entries_title}"
    description="Find Vanloada loading systems in {triggers:entries_title} using our agent finder."}
{/exp:channel:entries}


{exp:ce_cache:it seconds="86400"}

<div class="banner">
        <div class="inner">
        
              <div class="row">
                      <br /><br />  
                {exp:gmap:init id="map" extend_bounds="false" zoom="10" scrollwheel="true" disableDefaultUI="true"}
         
               {exp:channel:entries channel="agents_vanloda" dynamic="off" search:google_response="not IS_EMPTY" {triggers:entries}}

 {agent_location id="map"}
  
  <a href="{page_url}">{title}</a>
  <br>
  {agent_address}
  
 {/agent_location}

{/exp:channel:entries} 
                
        </div>    
        
        </div><!--//inner -->
</div>



<div class="row">

<nav class="threecol"> 
    <div class="panel">
       <h4>Countries</h4>
       {exp:channel:categories channel="agents_vanloda" category_group="3" orderby="title" sort="asc" id="{embed:name}" class="{embed:class}" parent_only="{embed:parent_only}" show_empty="no"}
                	
                      <a href="{exp:category_url template="/agents/vanloda-suppliers/browse" parent_id="{parent_id}" category_url_title="{category_url_title}" category_id="{category_id}"}" {if last_segment == "{category_url_title}"} style="color:red;" {/if}>{category_name}</a>
               
                
        
	{/exp:channel:categories}  
       </div> 
       
         <div class="panel side">
        <h4>Latest News</h4>
        {embed='embeds/get.news' simple="true" limit="1" char_limit="100"}
        </div>
 </nav>

<article class="eightcol">
{exp:channel:entries limit="1"}
        <h1 class="underline">{title}</h1>
        {body}
{/exp:channel:entries}
{exp:channel:entries channel="agents_vanloda" dynamic="off" orderby="title" sort="asc" search:google_response="not IS_EMPTY" {triggers:entries}}
<p>
<a href="/vanloda-suppliers/agent/{url_title}">{title}</a><br>
{agent_address}<br>
<strong>{categories style="linear"}{category_name} {/categories}</strong><br>
{if agent_telephone}Tel: {agent_telephone}<br>{/if}
{if agent_fax}Fax: {agent_fax}<br>{/if}
{if agent_website}URL: {agent_website}<br>{/if}
{if agent_email}E-mail: <a href="mailto:{agent_email}">{agent_email}</a>{/if}

</p>
<hr>
{/exp:channel:entries}
</article>

</div>


</section>
{embed='embeds/.global.foot'}

{/exp:ce_cache:it}