{exp:channel:entries limit="1"}
{embed='embeds/.global.head' entry_id="{entry_id}"}



<section class="container" id="content">

<h1>Your search results for: {exp:search:keywords}</h1>
{body}
{/exp:channel:entries}
<table class="table table-striped">
<thead>
    <tr>
        <th>{lang:title}</th>
        <th>{lang:author}</th>
        <th>{lang:date}</th>
        <th>{lang:total_comments}</th>
        <th>{lang:recent_comments}</th>
    </tr>
</thead>
{exp:search:search_results switch="resultRowOne|resultRowTwo"}

    <tr class="{switch}">
        <td width="30%" valign="top"><b><a href="{page_url}">{title}</a></b><br>{excerpt}</td>
        <td width="10%" valign="top">{author}</td>
        <td width="10%" valign="top">{entry_date format="%m/%d/%y"}</td>
        <td width="10%" valign="top">{comment_total}</td>
        <td width="10%" valign="top">{recent_comment_date format="%m/%d/%y"}</td>
    </tr>

    {if count == total_results}
        </table>
    {/if}

    {paginate}
        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
    {/paginate}

{/exp:search:search_results}

</section>



{embed='embeds/.global.foot'}
