@mixin button($color) {
	display:inline-block;
	text-align: center;
	cursor: pointer;
	padding:6px 12px;
	margin:8px 8px 8px 0px;
	background:$color;
	color:lighten($color,70) !important;
	min-width: 100px;
	border: solid 1px rgba(lighten($color, 10), 1);
	
	text-decoration:none;
	@include text-shadow(rgba(darken(black,0.1), 1) 1px 1px 0);
	box-shadow:1px 1px 0px rgba(0,0,0, 0.3);
	border-radius:30px;	
	@include background-image(linear-gradient(top, lighten($color, 20), $color));
}

.button {
	@include button($linkColor);
	
	&:hover {
		@include button($linkColorHover);
	}
	&:visited {
		@include button($linkColorHover);
	}
	
	&.small {
		font-size: 10px;
		padding:3px 6px;
	}
}