.banner {
	background: $gray;
	min-height: 250px;
	
	& ul, li {
		margin:0px;
		padding:0px;
		list-style: none;
	}
}
img {
	margin: 0px;
	padding: 0px;
}
.row {
	margin-bottom: $margin;
}
.box {
	min-height: 150px;
	background: $gray;
}
.padding {
	padding: $padding;
	display: block;
	
	&-title {
		display: block;
		padding: $padding $padding 0px $padding;
	}
}

.list {
	margin-bottom: $margin;
	border-bottom: solid 2px $grayLight;
	list-style: none;
}

.block {
	margin-bottom: $margin;
	margin-right: $margin;
	float: left;
	border: solid 2px $grayLight;
	list-style: none;
	position: relative;
	& span.title {
		position: absolute;
		bottom: 0px;
		left: 0px;
		line-height: 30px;
		width: 290px;
		//background: rgba(black, 0.5);
		z-index: 100;
	}
	&.last {
		margin: 0px;
	}
}