@mixin linear-gradient($color, $color2) {
 	background: $color2;
 	background: -moz-linear-gradient(top, $color 0%, $color2 180px, $color2 5000px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(180px,$color2), color-stop(5000px,$color2));
	background: -webkit-linear-gradient(top, $color 0%,$color2 180px,$color2 5000px); 
	background: -o-linear-gradient(top, $color 0%,$color2 180px,$color2 5000px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#{$color2}',GradientType=0); 
	background: -ms-linear-gradient(top, $color 0%, $color2 180px,$color2 5000px); 
	background: linear-gradient(top, $color 0%,$color2 180px,$color2 5000px); 
}