.nav {
	margin:0px;
	padding:0px;
	height: $lineheight;
	line-height: $lineheight;
	list-style: none;
	
	& li {
		float: left;
		
			& a {
				color: $grayDark;
				background: $grayLight;
				text-decoration: none;
				display: block;
				padding: $padding $padding;
				line-height: $lineheight;
				margin-right: 1px;	
				
				&:hover {
					background: $gray;
				}
			}
	 
	}
	
	
	
	 & li.current, li.parent-current {
	
			& a { 
				background: $linkColor;
				color: $white;
			}
	
	
	 }
	 
	 & ul {
	 	display: none;
		background: transparent;
	 }
	 
	 
	 
	 
	 &.side-nav {
	 margin-bottom: $margin; 
	 
	 	& li {
		float: none;
		
			& a {
				color: $grayDark;
				background: $grayLight;
				text-decoration: none;
				display: block;
				padding: $padding $padding;
				line-height: $lineheight;
				margin-right: 1px;	
				
				&:hover {
					background: $gray;
				}
			}
			
			&.nav-header {
				backgound: $mainColor;
			}
	 
	}
	
	
	
	 & li.current, li.parent-current {
	
			& a { 
				background: $linkColor;
				color: $white;
			}
	
	
	 }
}
}