@import "compass/reset";
@import "compass/layout";
@import "compass/css3";

body {

	background-color: $backgroundColor;
}
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}