body {
	font-size: $fontsize;
	line-height: $lineheight;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .05);
	text-rendering: optimizeLegibility;
	font-weight: 101;
	font-smoothing: antialiased;
	color:$fontcolor;
}
p {
	margin-top: $margin;
	margin-bottom: $margin;
}
a {
	&:link {
		color: $linkColor;
	}
	&:hover {
		color: lighten($linkColorHover, 0);
	}
	&:visited {
		color: $linkColor;
	}
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: $mainColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: $grayLight;
  }
}
h1 {
  font-size: 30px;
  line-height: $lineheight;
  small {
    font-size: 18px;
  }
}
h2 {
  font-size: 24px;
  line-height: $lineheight * 2;
  small {
    font-size: 18px;
  }
}
h3 {
  line-height: $lineheight * 1.5;
  font-size: 18px;
  small {
    font-size: 14px;
  }
}
h4, h5, h6 {
  line-height: $lineheight;
}
h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: $grayLight;
  text-transform: uppercase;
}

// Page header
.page-header {
  padding-bottom: $lineheight - 1;
  margin: $lineheight 0;
  border-bottom: 1px solid $grayLight;
}
.page-header h1 {
  line-height: 1;
}



// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $lineheight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $lineheight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $lineheight;
}
dt,
dd {
  line-height: $lineheight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $lineheight / 2;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $lineheight 0;
  border: 0;
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $white;
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: $grayLight;
}

// Abbreviations and acronyms
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $lineheight;
  border-left: 5px solid $grayLight;
  p {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: $lineheight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid $grayLight;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before, 
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $lineheight;
  line-height: $lineheight;
  font-style: normal;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
