@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);@import url(http://fonts.googleapis.com/css?family=Abel);html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a
img{border:0}figure{position:relative}figure
img{width:100%}.container{padding-left:20px;padding-right:20px}.row{width:100%;max-width:950px;min-width:755px;margin:0
auto;overflow:hidden}.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{margin-right:3.8%;float:left;min-height:1px;position:relative}.row
.onecol{width:4.85%}.row
.twocol{width:13.45%}.row
.threecol{width:22.05%}.row
.fourcol{width:30.75%}.row
.fivecol{width:39.45%}.row
.sixcol{width:48%}.row
.sevencol{width:56.75%}.row
.eightcol{width:65.4%}.row
.ninecol{width:74.05%}.row
.tencol{width:82.7%}.row
.elevencol{width:91.35%}.row
.twelvecol{width:100%;float:left}.last{margin-right:0px}img,object,embed{max-width:100%}img{height:auto}@media only screen and (max-width: 960px){body{font-size:12px;line-height:1.5em}}@media only screen and (max-width: 960px){body{font-size:16px;-webkit-text-size-adjust:none}.desktop_only{display:none}.tinynav{display:block}.row,body,.container{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px}.row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row
.twelvecol{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:20px;padding-right:20px}}.nav{margin:0px;padding:0px;height:1.4;line-height:1.4;list-style:none}.nav
li{float:left}.nav li
a{color:#333;background:#eee;text-decoration:none;display:block;padding:10px
10px;line-height:1.4;margin-right:1px}.nav li a:hover{background:#666}.nav li.current a,.nav li.parent-current
a{background:#1787d6;color:#fff}.nav
ul{display:none;background:transparent}.nav.side-nav{margin-bottom:10px}.nav.side-nav
li{float:none}.nav.side-nav li
a{color:#333;background:#eee;text-decoration:none;display:block;padding:10px
10px;line-height:1.4;margin-right:1px}.nav.side-nav li a:hover{background:#666}.nav.side-nav li.nav-header{backgound:#1787d6}.nav.side-nav li.current a,.nav.side-nav li.parent-current
a{background:#1787d6;color:#fff}body{font-size:12px;line-height:1.4;text-shadow:1px 1px 1px rgba(255,255,255,0.05);text-rendering:optimizeLegibility;font-weight:101;font-smoothing:antialiased;color:#333}p{margin-top:10px;margin-bottom:10px}a:link{color:#1787d6}a:hover{color:#65b5ee}a:visited{color:#1787d6}h1,h2,h3,h4,h5,h6{margin:0;font-weight:bold;color:#1787d6;text-rendering:optimizelegibility}h1 small,h2 small,h3 small,h4 small,h5 small,h6
small{font-weight:normal;color:#eee}h1{font-size:30px;line-height:1.4}h1
small{font-size:18px}h2{font-size:24px;line-height:2.8}h2
small{font-size:18px}h3{line-height:2.1;font-size:18px}h3
small{font-size:14px}h4,h5,h6{line-height:1.4}h4{font-size:14px}h4
small{font-size:12px}h5{font-size:12px}h6{font-size:11px;color:#eee;text-transform:uppercase}.page-header{padding-bottom:0.4;margin:1.4 0;border-bottom:1px solid #eee}.page-header
h1{line-height:1}ul,ol{padding:0;margin:0
0 0.7 25px}ul ul,ul ol,ol ol,ol
ul{margin-bottom:0}ul{list-style:disc}ol{list-style:decimal}li{line-height:1.4}ul.unstyled,ol.unstyled{margin-left:0;list-style:none}dl{margin-bottom:1.4}dt,dd{line-height:1.4}dt{font-weight:bold}dd{margin-left:0.7}hr{margin:1.4 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}strong{font-weight:bold}em{font-style:italic}.muted{color:#eee}abbr{font-size:90%;text-transform:uppercase;border-bottom:1px dotted #ddd;cursor:help}blockquote{padding:0
0 0 15px;margin:0
0 1.4;border-left:5px solid #eee}blockquote
p{margin-bottom:0}blockquote
small{display:block;line-height:1.4;color:#eee}blockquote small:before{content:'\2014 \00A0'}blockquote.pull-right{float:right;padding-left:0;padding-right:15px;border-left:0;border-right:5px solid #eee}blockquote.pull-right p,blockquote.pull-right
small{text-align:right}q:before,q:after,blockquote:before,blockquote:after{content:""}address{display:block;margin-bottom:1.4;line-height:1.4;font-style:normal}small{font-size:100%}cite{font-style:normal}.button{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#1787d6;color:#fff !important;min-width:100px;border:solid 1px #379fe9;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1YjVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3ODdkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#65b5ee),color-stop(100%,#1787d6));background-image:-webkit-linear-gradient(top,#65b5ee,#1787d6);background-image:-moz-linear-gradient(top,#65b5ee,#1787d6);background-image:-o-linear-gradient(top,#65b5ee,#1787d6);background-image:linear-gradient(top,#65b5ee,#1787d6)}.button:hover{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#65b5ee;color:#fff !important;min-width:100px;border:solid 1px #93cbf3;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZTFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1YjVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#c1e1f8),color-stop(100%,#65b5ee));background-image:-webkit-linear-gradient(top,#c1e1f8,#65b5ee);background-image:-moz-linear-gradient(top,#c1e1f8,#65b5ee);background-image:-o-linear-gradient(top,#c1e1f8,#65b5ee);background-image:linear-gradient(top,#c1e1f8,#65b5ee)}.button:visited{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#65b5ee;color:#fff !important;min-width:100px;border:solid 1px #93cbf3;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZTFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1YjVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#c1e1f8),color-stop(100%,#65b5ee));background-image:-webkit-linear-gradient(top,#c1e1f8,#65b5ee);background-image:-moz-linear-gradient(top,#c1e1f8,#65b5ee);background-image:-o-linear-gradient(top,#c1e1f8,#65b5ee);background-image:linear-gradient(top,#c1e1f8,#65b5ee)}.button.small{font-size:10px;padding:3px
6px}body,.button{font-family:'Ubuntu Condensed',sans-serif}.align-right{text-align:right}body{color:#333;font-size:12px}h1,h2.home,h3.home,h4,h5{font-family:'Abel',serif;color:#c00;margin:0px
0px 0px 0px;padding:0px;line-height:24px;font-size:24px;font-weight:bold;text-shadow:rgba(255,255,255,0.5) 1px 1px 0}h1 a,h2.home a,h3.home a,h4 a,h5
a{text-decoration:none;color:#03105a}h1.underline,h2.underline{border-bottom:solid 1px #ddd;padding-bottom:15px;margin-bottom:15px}h2,h3,h4{color:#666;font-family:serif;font-size:22px;font-weight:normal;line-height:20px}h2.small,h3.small{color:#666;font-size:16px}h4{font-size:18px}#news
.title{font-size:24px}ul{margin:20px;margin-right:0px}p,ul{font-family:sans-serif}body{background:#EEE}.image{border:solid 1px #eee}header#mobile-header{display:none}#top{background:#03105a;color:#3eaaf3;height:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MTQ3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzMTA1YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #041473), color-stop(100%, #03105a));background-image:-webkit-linear-gradient(#041473,#03105a);background-image:-moz-linear-gradient(#041473,#03105a);background-image:-o-linear-gradient(#041473,#03105a);background-image:linear-gradient(#041473,#03105a);line-height:30px}#top
nav{float:right}#top nav
ul{margin:0px;padding:0px;list-style:none}#top nav
li{margin:0px;padding:0px;float:left;line-height:30px}.clear{clear:both}.row.space{padding:30px
0px}.hometxt-img{margin-top:40px}.container.site-wrap{background:white}header#header{background:#03105a url("/media/images/head-bg.jpg") no-repeat center top;text-shadow:#000 1px 1px 0;padding-top:15px;color:#fff;position:relative;font-size:14px;margin:0px}header#header .top-contact{position:absolute;top:0px;right:0px;font-size:18px !important}header#header .top-contact
a{color:white;text-decoration:none;font-size:18px !important}header#header .top-contact a.tel
span.icon{background:url("/media/images/images.png") no-repeat -306px -10px;width:11px;height:10px;display:inline-block;margin-right:3px;font-size:18px !important}header#header .top-contact a.email
span.icon{background:url("/media/images/images.png") no-repeat -327px -11px;width:14px;height:9px;display:inline-block;margin-right:3px;margin-left:10px;font-size:18px !important}header#header
.twelvecol{position:relative}header#header
a#logo{background:url("/media/images/joloda-logo.png") no-repeat center center;width:150px;height:97px;display:block;margin-bottom:15px}header#header a#logo
span{display:none}header#header #global-search{position:absolute;right:0px;top:50px}header#header #global-search
input#keywords{background:url("/media/images/images.png") no-repeat -2px -2px;width:142px;padding-left:50px;height:36px;border:0px
none}header#header #global-search button#search-button{background:transparent;width:38px;height:38px;border:0px
none;position:absolute;top:0px;right:0px;cursor:pointer;display:block}header#header #global-search button#search-button
span{display:none}header#header ul#global-user{position:absolute;right:0px;top:0px;margin:0px;padding:0px;list-style:none;font-size:12px}header#header ul#global-user
li{margin:0px;padding:0px;list-style:none;float:left;margin-left:15px}header#header ul#global-user
a{color:#fff;text-decoration:none}header#header ul#global-user a
p{margin:0px;padding:0px;display:inline}#nav.container{margin:0px;padding:0px;position:relative}.main-menu{margin:0px
auto;padding:0px;max-width:950px;min-width:755px}.tinynav{display:none;width:99%;font-size:18px;margin-bottom:3px}nav
#menu{margin:0px;padding:0px;z-index:100;overflow:visible;background:#03105a;height:40px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;margin-bottom:15px;position:relative;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1MTk4YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzMTA1YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #05198b), color-stop(100%, #03105a));background-image:-webkit-linear-gradient(#05198b,#03105a);background-image:-moz-linear-gradient(#05198b,#03105a);background-image:-o-linear-gradient(#05198b,#03105a);background-image:linear-gradient(#05198b,#03105a);color:#fff;border-top:solid 1px #05198b;border-bottom:solid 1px rgba(62,170,243,0.1);border-left:solid 1px rgba(62,170,243,0.1);border-right:solid 1px rgba(62,170,243,0.1);-webkit-box-shadow:#03105a 0px 1px 0px;-moz-box-shadow:#03105a 0px 1px 0px;box-shadow:#03105a 0px 1px 0px;text-shadow:#000 1px 1px 0}nav #menu.with-banner{position:absolute;width:950px}nav #menu
ul{margin:0px;padding:0px;list-style:none;position:relative;z-index:9999}nav #menu ul
ul.subnav{background:#03105a;position:absolute;width:200px;display:none;z-index:9999;border:solid 1px rgba(62,170,243,0.1)}nav #menu ul ul.subnav
li{width:200px}nav #menu ul ul.subnav li
a{padding:0px
10px;line-height:30px}nav #menu ul li:hover
ul.subnav{display:block;z-index:9999}nav #menu
li{margin:0px;padding:0px;float:left;list-style:none;line-height:40px}nav #menu li.current
a{color:yellow}nav #menu
a{display:block;color:white;text-decoration:none;line-height:40px;padding:0px
20px}ul#social-links{position:absolute;right:0px;top:10px}ul#social-links
span{display:none}ul#social-links
a{display:block;width:19px;height:19px}ul#social-links
li{float:left;margin-right:15px}ul#social-links
li#youtube{background:url("/media/images/images.png") no-repeat -205px -2px;width:19px;height:19px}ul#social-links
li#facebook{background:url("/media/images/images.png") no-repeat -277px -2px;width:10px;height:19px}ul#social-links
li#twitter{background:url("/media/images/images.png") no-repeat -240px -6px;width:19px;height:19px}.banner{background:#03105a;margin-bottom:15px;height:450px;color:#3eaaf3;text-shadow:#03105a 1px 1px 0}.banner
.inner{height:450px;margin:0
auto;max-width:1400px;min-width:960px;text-align:center;background:url("/media/images/banner_tmp.jpg") top center no-repeat}.banner .inner
.section{text-align:center;margin-top:50px;padding-left:150px}.banner .home-banner{background:url(/media/images/home-banner.jpg) left top no-repeat;height:450px;text-align:right;position:relative}.banner #banner-slider{margin:0px;padding:0px;margin-top:60px}.banner #banner-slider
.product{margin-top:0px}.banner #banner-slider
li{height:380px;text-shadow:rgba(23,135,214,0.1) 1px 1px 0;margin:0px;padding:0px;text-align:left}.banner #banner-slider li .banner-title{color:white;font-size:32px}.banner #banner-slider li .banner-image{float:right;margin-left:30px}.banner-more-link{background:url("/media/images/more-button.png");width:107px;height:46px;display:block;position:absolute;z-index:99;bottom:55px;right:200px}.banner-more-link
span{display:none}#go-prev,#go-next{position:absolute;z-index:20;display:block;top:140px}a#go-prev{background:url("/media/images/images.png") no-repeat 0 -45px;width:35px;height:36px;left:20px}a#go-next{background:url("/media/images/images.png") no-repeat -58px -45px;width:35px;height:36px;right:20px}#content{position:relative}.logo{float:left;padding:10px}.logo.first{padding-left:0px}.logo.last{padding-right:0px}.callback{height:295px;background:#c00;padding:20px
20px 5px 20px;color:white !important}.callback
h4{color:white !important}.sitemap{width:500px;display:block;padding:0px;margin:0px;line-height:1}.sitemap
li{padding:0px;margin:0px;width:500px;display:block;line-height:1}.sitemap li
a{width:500px;display:block;line-height:1}footer{margin-top:15px;background:white;height:200px;color:#666;padding-top:15px;border-top:solid 1px #eee}.button{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#900;color:#fff !important;min-width:100px;border:solid 1px #c00;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ff0000),color-stop(100%,#990000));background-image:-webkit-linear-gradient(top,#ff0000,#990000);background-image:-moz-linear-gradient(top,#ff0000,#990000);background-image:-o-linear-gradient(top,#ff0000,#990000);background-image:linear-gradient(top,#ff0000,#990000)}.button:hover{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#c00;color:#fff !important;min-width:100px;border:solid 1px red;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ff3333),color-stop(100%,#cc0000));background-image:-webkit-linear-gradient(top,#ff3333,#cc0000);background-image:-moz-linear-gradient(top,#ff3333,#cc0000);background-image:-o-linear-gradient(top,#ff3333,#cc0000);background-image:linear-gradient(top,#ff3333,#cc0000)}.button:visited{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#c00;color:#fff !important;min-width:100px;border:solid 1px red;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ff3333),color-stop(100%,#cc0000));background-image:-webkit-linear-gradient(top,#ff3333,#cc0000);background-image:-moz-linear-gradient(top,#ff3333,#cc0000);background-image:-o-linear-gradient(top,#ff3333,#cc0000);background-image:linear-gradient(top,#ff3333,#cc0000)}.button.small{font-size:10px;padding:3px
6px}.button.yellow{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#cca300;color:#fff !important;min-width:100px;border:solid 1px #fc0;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDYzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjYTMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ffd633),color-stop(100%,#cca300));background-image:-webkit-linear-gradient(top,#ffd633,#cca300);background-image:-moz-linear-gradient(top,#ffd633,#cca300);background-image:-o-linear-gradient(top,#ffd633,#cca300);background-image:linear-gradient(top,#ffd633,#cca300)}.button.yellow:hover{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#fc0;color:#fff !important;min-width:100px;border:solid 1px #ffd633;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTA2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ffe066),color-stop(100%,#ffcc00));background-image:-webkit-linear-gradient(top,#ffe066,#ffcc00);background-image:-moz-linear-gradient(top,#ffe066,#ffcc00);background-image:-o-linear-gradient(top,#ffe066,#ffcc00);background-image:linear-gradient(top,#ffe066,#ffcc00)}.button.yellow:visited{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#fc0;color:#fff !important;min-width:100px;border:solid 1px #ffd633;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTA2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#ffe066),color-stop(100%,#ffcc00));background-image:-webkit-linear-gradient(top,#ffe066,#ffcc00);background-image:-moz-linear-gradient(top,#ffe066,#ffcc00);background-image:-o-linear-gradient(top,#ffe066,#ffcc00);background-image:linear-gradient(top,#ffe066,#ffcc00)}.button.yellow.small{font-size:10px;padding:3px
6px}.button.blue{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#126aa8;color:#fff !important;min-width:100px;border:solid 1px #1787d6;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3OWZlOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEyNmFhOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#379fe9),color-stop(100%,#126aa8));background-image:-webkit-linear-gradient(top,#379fe9,#126aa8);background-image:-moz-linear-gradient(top,#379fe9,#126aa8);background-image:-o-linear-gradient(top,#379fe9,#126aa8);background-image:linear-gradient(top,#379fe9,#126aa8)}.button.blue:hover{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#1787d6;color:#fff !important;min-width:100px;border:solid 1px #379fe9;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1YjVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3ODdkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#65b5ee),color-stop(100%,#1787d6));background-image:-webkit-linear-gradient(top,#65b5ee,#1787d6);background-image:-moz-linear-gradient(top,#65b5ee,#1787d6);background-image:-o-linear-gradient(top,#65b5ee,#1787d6);background-image:linear-gradient(top,#65b5ee,#1787d6)}.button.blue:visited{display:inline-block;text-align:center;cursor:pointer;padding:6px
12px;margin:8px
8px 8px 0px;background:#1787d6;color:#fff !important;min-width:100px;border:solid 1px #379fe9;text-decoration:none;text-shadow:#000 1px 1px 0;box-shadow:1px 1px 0px rgba(0,0,0,0.3);border-radius:30px;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1YjVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3ODdkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%,color-stop(0%,#65b5ee),color-stop(100%,#1787d6));background-image:-webkit-linear-gradient(top,#65b5ee,#1787d6);background-image:-moz-linear-gradient(top,#65b5ee,#1787d6);background-image:-o-linear-gradient(top,#65b5ee,#1787d6);background-image:linear-gradient(top,#65b5ee,#1787d6)}.button.blue.small{font-size:10px;padding:3px
6px}.testimonial{background:#eee;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:15px;height:60px}.testimonial .testimonial-img{float:left;margin-right:15px}#map{height:380px;width:940px;border:1px
solid #fff;margin-top:15px;color:#03105a;text-shadow:rgba(23,135,214,0.1) 1px 1px 0}.cat-item-3,.cat-last,.product.item-3,.product.last,.product.nth-4,.news.item-3{margin:0px;margin-bottom:25px}a.category,.product,.office,.news{text-decoration:none;background:white;-webkit-box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;box-shadow:1px 1px 1px #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;margin-bottom:25px;min-height:175px}a.category.last,.product.last,.office.last,.news.last{margin-right:0px}a.category .main-office,.product .main-office,.office .main-office,.news .main-office{position:absolute;width:100%;text-align:center}a.category .main-office span,.product .main-office span,.office .main-office span,.news .main-office
span{margin-left:70px;z-index:5;background:#c00;color:white !important;padding:5px
10px;display:block;width:100px}.office,.news{min-height:290px}.office .inner,.news
.inner{padding:0px
10px}.office h4,.news
h4{font-size:14px;line-height:14px}.office .news,.news
.news{overflow:hidden}.other-banner{background:url("/media/images/more_banner.png");padding-left:15px;line-height:85px;display:block;height:75px;color:white !important;text-decoration:none;font-size:22px}.product{min-height:250px}a.category:hover,.product:hover,.office:hover{transform:scale(0.95);-ms-transform:scale(0.95);-webkit-transform:scale(0.95);-o-transform:scale(0.95);-moz-transform:scale(0.95)}.category-title,.product-title{display:block;text-align:center;color:#c00;text-decoration:none !important;padding:7px
7px 2px 7px}.product-desc{text-align:center}.side{margin:0px;padding:0px}#product-slider{margin:0px;padding:0px;list-style:none}ul.tabs{list-style:none;margin:0
!important;padding:0;border-bottom:1px solid #eee;height:30px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}ul.tabs
li{float:left;text-indent:0;padding:0;margin:0
!important;list-style-image:none !important;border-bottom:1px solid #eee}ul.tabs
a{background:#c00;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;font-size:11px;display:block;height:29px;line-height:30px;width:120px;text-align:center;text-decoration:none;color:white !important;padding:0px;margin:0px;margin-right:1px;position:relative;top:1px;border-bottom:1px solid #eee}ul.tabs a:active{outline:none;background:#c00}ul.tabs a:hover{background:#666;color:white}ul.tabs a.current,ul.tabs a.current:hover,ul.tabs li.current
a{background:#333;color:white}.panes
.pane{display:none}.panes div,.panel{display:none;padding:15px
10px;border:0px
none;border-top:0;min-height:100px;font-size:14px;background-color:#fff;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.panel{display:block;padding:15px
15px;border:0px
none;margin-bottom:15px;position:relative;border-top:0;min-height:50px;font-size:14px;background-color:#fff;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.panel h4,.panel
h4.title{color:#666;font-size:14px !important;padding-bottom:15px;border-bottom:solid 1px #eee;line-height:14px}.panel
h4.title{border-bottom:none 0px;padding:0px;padding-top:10px}.panel
li{list-style-image:url(/media/images/bullet.png)}.panel.logo-panel{min-height:auto}.paginate{clear:both}.align-right{float:right;margin-left:15px;margin-bottom:15px}.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next
span{background-image:url("/media/scripts/fancybox/fancybox_sprite.png")}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}#fancybox-loading
div{width:44px;height:44px;background:url("/media/scripts/fancybox/fancybox_loading.gif") center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url("/media/scripts/fancybox/blank.gif");-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav
span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev
span{left:10px;background-position:0 -36px}.fancybox-next
span{right:10px;background-position:0 -72px}.fancybox-nav:hover
span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important}.fancybox-lock{overflow:hidden}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url("/media/scripts/fancybox/fancybox_overlay.png")}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap
.child{display:inline-block;margin-right:-100%;padding:2px
20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,0.8)}@media only screen and (max-width: 960px){body{max-width:640px;min-width:320px;poistion:relative}a#logo{display:block;width:100%;margin-left:20px}nav #menu,.banner,#global-search,.desktop-only{display:none}.column3,.column2,.column1{display:block;padding:20px;clear:both;float:none;width:auto !important}header#mobile-header{margin:0px;padding:0px;margin-bottom:3.8%;display:block}header#mobile-header #mobile-header-container{background:#333;padding-top:7px;color:white;font-family:Glegoo;min-height:50px;background-image:-moz-linear-gradient(50% 0% -90deg, #444 0%, #111 100%);background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #444), color-stop(1, #111));background-image:-webkit-linear-gradient(-90deg, #444 0%, #111 100%);background-image:-o-linear-gradient(-90deg, #444 0%, #111 100%);background-image:-ms-linear-gradient(-90deg, #444 0%, #111 100%);background-image:linear-gradient(-90deg, #444 0%,#111 100%)}header#mobile-header #mobile-nav-menu{background:#009EDA;list-style:none;padding-bottom:10px;display:none;color:white;text-decoration:none;text-align:center;margin:0px;padding:0px}header#mobile-header #mobile-nav-menu ul,header#mobile-header #mobile-nav-menu
li{margin:0px;padding:0px;list-style:none}header#mobile-header #mobile-nav-menu
a{color:white;text-decoration:none;padding:1.7%;display:block}#mobile-nav-menu a:hover,#mobile-nav-menu a:active,#mobile-nav-menu li.current
a{background:#08B}header#mobile-header #mobile-logo{position:absolute;left:20px;top:8px}header#mobile-header #mobile-section{line-height:42px;height:50px;text-align:center}header#mobile-header #mobile-search{background:#333;text-align:left}header#mobile-header #mobile-nav{position:absolute;right:20px;top:10px;height:40px;width:40px;display:block;cursor:pointer;transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out}header#mobile-header #mobile-nav
.active{transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;transform:rotate(-90eg);-webkit-transform:rotate(-90deg)}}ul.tick-list{list-style:none;margin:0px;padding:0px;margin-top:1em;margin-bottom:1em}ul.tick-list
li{list-style:none;background:#fff url('/media/images/tick.png') 10px center no-repeat;padding:3px
3px 3px 40px;margin-bottom:5px;border-radius:3px}ul.tick-list li:hover{background:#fbfbfb url('/media/images/tick.png') 12px center no-repeat}.tweet,.query{font:120% Georgia,serif;color:#085258}.tweet_list{-webkit-border-radius:0.5em;-moz-border-radius:0.5em;border-radius:0.5em;list-style:none;margin:0;padding:0;overflow-y:hidden;background-color:none}.tweet_list
li{overflow-y:auto;overflow-x:hidden;padding:0.5em;list-style-type:none}.tweet_list li
a{color:#0C717A}.tweet_list
.tweet_even{background-color:none}.tweet_list
.tweet_avatar{padding-right: .5em;float:left}.tweet_list .tweet_avatar
img{vertical-align:middle}