.banner {
  text-align: center;
  color: $white;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding:70px 0;
  @media (min-width: $screen-md-min) {
    padding:10em 0;
  }
  h1, h2, h3, h4 {
    color: $white;
    font-weight: 100;
    @media (min-width: $screen-md-min) {
      font-size: 48px;
    }
  }
  &--map {

    background: $red url('/images/map.png');
  }
}

