%box-title-line {
  display: block;
  content:"";
  position: absolute;
  background-color: $white;
  left: 20%;
  right: 20%;
  height: 1px;
  transition: 1s ease-in-out
}

%box {
  transform: translate3D(0,0,0);
  background-size: 100%;
  background-position: center;
  display: table;
  width: 100%;
  height: 280px;
  color: $white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 25px;
  transition: transform 0.5s ease-in-out, background 1s ease-in-out;
  .content {
    display: table-cell;
    vertical-align: middle;
    h1, h2, h3 {
      color: $white;
      text-decoration: none;
      &:before {
        @extend %box-title-line;
        top: 30%;
      }
      &:after {
        @extend %box-title-line;
        bottom: 30%;
      }
    }
  }
  &:hover,&:focus {
    color: $white;
    text-decoration: none;
    background-size: 130%;
    h1, h2, h3 {
      &:before {
        @extend %box-title-line;
        top: 25%;
      }
      &:after {
        @extend %box-title-line;
        bottom: 25%;
      }
    }
  }
}

.category-box {
  @extend %box;
}