.btn i {
  //margin-top:5px;
}

.btn-primary, .btn {
  color: #fff;
  background-color: $primary-color;
  border-color: darken($primary-color, 5%);
  &:hover,&.active,&:active,&:focus,&.focus,&.dropdown-toggle {
    color: #fff;
    background-color:  darken($primary-color, 5%);
    border-color: darken($primary-color, 5%);
  }
}