

@mixin card($color) {
 background-color: $color;
  color: $white;
  margin-bottom: 20px;
  @include z-depth(1);
  header {
    display: table;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-color: darken($color, 5%);
    height: 160px;
    h1, h2, h3, h4 {
      position: relative;
      font-weight: 300;
      color: $white;
      padding: 20px;
      margin:0;
      display: table-cell;
      vertical-align: bottom;
    }
  }
  article {
    padding: 20px;
    p {
      margin:0;
    }
  }
  footer {
    border-top: solid 1px darken($color, 5%);
    padding: 10px 20px;
    .btn {
      background-color: transparent;
      padding:10px 0px;
      margin-right: 20px;
      text-transform: uppercase;
      border:0;
    }
  }

}
