
// Color Vars
$white: #fff;
$blue: #0071bb;
$blue-dark: #0a4fd2;
$blue-darker: #0a19c8;
$red: material-color('red', '400');
$yellow: material-color('amber', '500');
$orange: material-color('orange', '400');
$green: material-color('green', '400');
$pink: material-color('pink', '400');
$gray: #8e8e8e;
$gray-dark: #555;
$gray-darker: #333;
$gray-light: #efefef;
$gray-lighter: #fbfbfb;

$primary-color: $red;