// Apply the gradient to the .gradient class when with--gradient is applied
.gradient-white {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.gradient-dark {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(168, 168, 168, 0) 5%, rgba(0, 0, 0, 0.4) 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#a6000000', GradientType=0);
}

.with--gradient {
  position: relative;
  &:before {
    content: "";
    @extend .gradient-dark;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 100%;
  }
}

%clearfix,
.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

