.hero {
  @extend .clearfix;
  position: relative;
  background: $blue-dark url('/images/tmp/warehouse3.jpg');
  //background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  padding: 125px 10px 70px 10px;
  width: 100%;
  @include medium {
    min-height: 600px;
  }
  &--thin {
    @include medium {
      min-height: 200px;
    }
  }
  &--default {
    background: $blue-dark url('/images/tmp/default.jpg');
  }
  &__content {
    display: table-cell;
    vertical-align: middle;
    color: $white;
    text-align: center;
    font-weight: 100;
    h1, h2, h3, h4 {
      color: $white;
      font-weight: 300;
      margin-top:15px;
      margin-bottom:15px;
    }
    h1 {
      font-weight: 800;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      @include fadeInDown();
      @include small {
        font-size: 45px
      }
      @include medium {
        font-size: 45px
      }
    }
    h2 {
      @include fadeInDown($delay: .5s);
    }
    a {
      color: $white;
      text-decoration: underline;
    }
    .btn {
      margin: 10px 0;
      @include fadeInDown($delay: .7s);
    }
  }
}