%reset-list {
  margin:0;
  padding:0;
  list-style: none;
}

ul.list {
 @extend %reset-list;
  li {
    @extend %reset-list;
  }
}

ul.list {
  li {
    background-color: $white;
    border-bottom: solid 1px $gray-light;
    padding: 12px;
    color: $gray-darker;
    .icon {
      background-color: $green;
      color: $white;
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;
    }
  }
}