.map-header {
  @extend .clearfix;
  height: 350px;
  background-image: url('/images/google-map.jpg');
  background-size: cover;
  background-position: center center;
  @include medium {
    height: 500px;
  }
}