// Overwrite some defaults

.navbar-collapse {
  float: left;
  border-top: 1px solid $gray-lighter;
}

.navbar-toggle {
  margin-right: 0;
  margin-bottom: 4px;
  color: $gray-darker;
}

.navbar-icon {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

// Custom styles

.navbar {
  background-color: #000;
  background-color: rgba($white, 1);
  color: $white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  border:0;
  @include z-depth();
  a {
    color: $gray-darker;
  }
  &-brand {
    padding:0;
    img {
      height: 60px;
      margin-left:15px;
      margin-right:15px;
    }
  }
}
.navbar-nav>li>a {
  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #000;
  background-color: rgba(#000, 0.1);
}

.navbar-collapse {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: auto;
  }
}
@media (min-width: 768px){
.navbar-right.main-nav .dropdown-menu {
  right: auto;
  left: 0;
}
}
// Icons size
[class*=" md-"], [class^=md-] {
  font-size: 22px;
  @media (min-width: $screen-sm-min) {
    font-size: inherit;
  }
}

// Dropdown Menu
.dropdown-menu {
  @include z-depth(1);
  border: 0 none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  &>li>a {
    font-size: 16px;
    padding: 8px 20px;
  }
}

.nav > li.contact > a {
  background-color: $red;
  color: $white;
  &:hover {
    background-color: lighten($red, 5%);
  }
}

//.language {
//  display:none !important;
//  @include medium {
//    display: inline-block !important;
//  }
//}