.newsletter {
  background-color: $blue;
  &-container {
    @extend %clearfix;
    padding-bottom: 2em;
    @include medium {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
  h2 {
    color: $white;
    font-size: 1.4em;
    @include medium {
      font-size: 1.6em;
    }
  }
  input, button {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    border: 0;
    outline: none;
  }
  &-fields {
    @extend %clearfix;
  }
  &-field {
    width: 85%;
    @include medium {
      width: 90%;
    }
    float: left;
  }
  &-button {
    width: 15%;
    @include medium {
      width: 10%;
    }
    float: left;
  }
  .email-field {

  }
  .email-button {
    background-color: $yellow;
    color: $white;
    transition: background 0.3s ease-in-out;
    &:hover {
      background-color: darken($yellow, 10%);
    }
  }
  &-text {
    @extend %clearfix;
    display: block;
    padding-top: 20px;
    text-align: center;
    font-style: italic;
    color: lighten($blue, 30%);
  }
}