.sidebar {
  background-color: $gray-lighter;
  margin-bottom: 1em;
  @include z-depth(1);
  h4 {
    padding: 1em;
    margin:0;
    background-color: $gray-darker;
    color: $white;
  }
  ul {
    @extend %reset-list;
    padding: 0 0.5em 1em 0.5em;
    li {
      @extend %reset-list;
      a {
        padding: 0.5em;
      }
    }
  }
}