.social {
  background-color: darken($blue, 6%);
  .social-icons {
    padding: 20px 0;
    text-align: center;
    img {
      height: 60px;
      width: auto;
      padding: 10px;
      opacity:0.9;
      transition: opacity 0.3s ease-in-out;
      &:hover,&:focus {
        opacity:1;
      }
    }
  }
}