@import "base";

.pad-bottom {
  padding-bottom: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $gray;
  background-color: $white;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $gray-darker;
  strong {
    font-weight: 400;
  }
}


// Sections
.section {
  @extend .clearfix;
}
.logos {
  background-color: $gray-lighter;
  .logo {
    padding: 10px;
    & img {
      //height: 30px; width: auto;
    }
  }
}
.latest-news {
  background-color: $gray-lighter;
  padding-bottom: 30px;
  .title {
    //margin-bottom: 25px
  }
}


.text {
  //font-size: 16px;
  //padding-bottom: 40px;
}



// Cards

.card--news {
  @include card(#fff);
  color: $gray-dark;
  font-size: 14px;
  .btn {
    color: $gray-darker;
  }
}


.card--agent {
  @include card($gray-lighter);
  color: $gray-dark;
  header {
    h3 {
      color: $gray-darker;
    }
  }
  .btn {
    color: $gray-darker;
  }
}

.product-box {
  @include card($gray-lighter);
  color: $gray-dark;
  .btn {
    color: $gray-darker;
  }
  article {
    min-height: 85px;
  }
}
